<div class="row mt-3">

    <div class="col-lg-8">
        <img id="bg-dark-312" style="display: none;" src="assets/img/backgrounds/bg-dark-312.jpg">
        <img id="bg-dark-102" style="display: none;" src="assets/img/backgrounds/bg-dark-102.jpg">
        <img id="bg-dark-112" style="display: none;" src="assets/img/backgrounds/bg-dark-112.jpg">
        <img id="bg-dark-302" style="display: none;" src="assets/img/backgrounds/bg-dark-302.jpg">
        <img id="bg-fire-102" style="display: none;" src="assets/img/backgrounds/bg-fire-102.jpg">
        <img id="bg-fire-112" style="display: none;" src="assets/img/backgrounds/bg-fire-112.jpg">

        {% comment %}
        <img id="warcryCardOne" style="display: none;" src="assets/img/fighters1.jpg">
        <img id="warcryCardTwo" style="display: none;" src="assets/img/fighters2.jpg">
        <img id="warcryCardThree" style="display: none;" src="assets/img/fighters3.jpg">
        {% endcomment %}

        <img id="weapon-profile" style="display: none;" src="assets/img/weapon-profile.png">
        <img id="circle" style="display: none;" src="assets/img/circle.png">

        <canvas class="canvas rounded" id="canvas" width="1772" height="1241">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                {% include fighters/section-background.html %}
                {% include fighters/section-image.html %}
                {% include fighters/section-factionrunemark.html %}
                {% include fighters/section-characteristics.html %}
                {% include fighters/section-runemarks.html %}
                {% include fighters/section-weapons.html %}

            </div>

            {% include fighters/section-actions.html %}

        </div>
    </div>

</div>
