<div class="row mt-3">

    <div class="col-lg-8">
        <div class="jumbotron">
            <h1 class="display-4">Gallery</h1>
            <hr class="my-4">
            <p class="lead">Some of my own custom cards made with this creator.</p>

            <small>Fimirach Noble draft</small>
            <img alt="Fimirach Noble draft" src="https://raw.githubusercontent.com/HENNIROCKS/warcry-card-creator/master/gallery/_fimirach_noble.png" width="100%" />
            <br />

            <small>Ogor Tyrant draft</small>
            <img alt="Ogor Tyrant draft" src="https://raw.githubusercontent.com/HENNIROCKS/warcry-card-creator/master/gallery/_ogor_tyrant.png" width="100%" />
            <br />

            <small>Troggoth King draft, faction runemark photoshopped</small>
            <img alt="Troggoth King draft" src="https://raw.githubusercontent.com/HENNIROCKS/warcry-card-creator/master/gallery/_troggoth_king.png" width="100%" />
            <br />

            <small>Fecula Flyblown</small>
            <img alt="Fecula Flyblown" src="https://raw.githubusercontent.com/HENNIROCKS/warcry-card-creator/master/gallery/nurgle_fecula_flyblown.png" width="100%" />
            <br />

            <small>Ghulgoch the Butcher</small>
            <img alt="Ghulgoch the Butcher" src="https://raw.githubusercontent.com/HENNIROCKS/warcry-card-creator/master/gallery/nurgle_ghulgoch_the_butcher.png" width="100%" />
            <br />

            <small>Sepsimus</small>
            <img alt="Sepsimus" src="https://raw.githubusercontent.com/HENNIROCKS/warcry-card-creator/master/gallery/nurgle_sepsimus.png" width="100%" />

        </div>
    </div>

    <div class="col-lg-4"></div>

</div>
