<div class="row mt-3">

    <div class="col-lg-8">
        <img id="warcryCardTwo" style="display:none;" src="assets/img/warcryCardTwo.jpg" />
        <img id="circle" style="display:none;" src="assets/img/circle.png" />
        <canvas id="canvas" width="1772" height="1241" style="background: #eee;">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area-fade">
        <div id="scroll-area">

            <div class="disabled">
                <label class="heading h5" for="backgroundSelect">Background image</label>
                <input type="file" id="backgroundSelect" oninput="onAnyChange()" disabled>
            </div>

            <div>
                <label class="heading h5 mt-5" for="factionRunemarkSelect">Faction runemark</label>
                <div id="factionRunemarkSelect" class="d-flex flex-wrap">
                    {% include fighters/factionRunemarkSelectAllies.html %}
                    {% include fighters/factionRunemarkSelectChaos.html %}
                    {% include fighters/factionRunemarkSelectDeath.html %}
                    {% include fighters/factionRunemarkSelectDestruction.html %}
                    {% include fighters/factionRunemarkSelectMonsters.html %}
                    {% include fighters/factionRunemarkSelectOrder.html %}
                </div>
            </div>

            <div id="ability1">
                <label for="firstAbility" class="heading h5 mt-5">First ability</label>
                <input type="text" id="firstAbility" name="firstAbility" value="" oninput="onAnyChange()">
            </div>

            <div id="ability2">
                <label for="secondAbility" class="heading h5 mt-5">Second ability</label>
                <input type="text" id="secondAbility" name="secondAbility" value="" oninput="onAnyChange()">
            </div>

            <div id="ability3">
                <label for="thirdAbility" class="heading h5">Third ability</label>
                <input type="text" id="thirdAbility" name="thirdAbility" value="" oninput="onAnyChange()">
            </div>

            <div id="ability4">
                <label for="fourthAbility" class="heading h5 mt-5">Fourth ability</label>
                <input type="text" id="fourthAbility" name="fourthAbility" value="" oninput="onAnyChange()">
            </div>

            <div id="ability5">
                <label for="fifthAbility" class="heading h5">Fifth ability</label>
                <input type="text" id="fifthAbility" name="fifthAbility" value="" oninput="onAnyChange()">
            </div>

            <div id="ability6">
                <label for="sixthAbility" class="heading h5 mt-5">Sixth ability</label>
                <input type="text" id="sixthAbility" name="sixthAbility" value="" oninput="onAnyChange()">
            </div>

        </div>
    </div>

</div>
