<div class="row mt-3">

    <div class="col-lg-8">
        <img id="bg-abilities" style="display: none;" src="assets/img/abilities.jpg">

        <canvas class="canvas rounded" id="canvas" width="1772" height="1241">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                <h1><span class="badge badge-warning">Work in progress</span></h1>

                {% include abilities/section-background.html %}
                {% include fighters/section-factionrunemark.html %}

            </div>

            {% include abilities/section-actions.html %}

        </div>
    </div>

</div>
