<div class="row mt-3">

    <div class="col-lg-8">
        <img id="abilities-bg1" style="display: none;" src="assets/img/abilities1.jpg">
        <img id="abilities-bg2" style="display: none;" src="assets/img/abilities2.jpg">
        <canvas class="canvas rounded" id="abilities-canvas" width="1772" height="1241">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                {% include abilities/section-background.html %}
                {% include abilities/section-factionrunemark.html %}
                {% include abilities/section-abilities.html %}

            </div>

            {% include abilities/section-actions.html %}

        </div>
    </div>

</div>
