<div class="row mt-3">

    <div class="col-lg-8">
        <div class="jumbotron">
            <h1 class="display-4">Gallery</h1>
            <hr class="my-4">
            <p class="lead">Some of my own custom cards made with this creator.</p>

            <img alt="Fecula Flyblown" src="https://github.com/HENNIROCKS/warcry-card-creator/tree/master/gallery/nurgle_fecula_flyblown.png" />
            <img alt="Ghulgoch the Butcher" src="https://github.com/HENNIROCKS/warcry-card-creator/tree/master/gallery/nurgle_ghulgoch_the_butcher.png" />
            <img alt="Sepsimus" src="https://github.com/HENNIROCKS/warcry-card-creator/tree/master/gallery/nurgle_sepsimus.png" />

        </div>
    </div>

    <div class="col-lg-4"></div>

</div>
