---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no, width=device-width">
    <title>[BETA] Warcry Card Creator 2.0</title>
    <link rel="stylesheet" href="assets/vendors/bootstrap-v4.3.1.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#333333">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="font-hack" style="font-family:'rodchenkocttregular';visibility:hidden;">Nothing to see here, move along…</div>

    <div class="container-fluid">

        <ul class="nav nav-tabs" id="wccTab" role="tablist">
            <li class="nav-item">
                <a aria-controls="fighters" aria-selected="true" class="nav-link" data-toggle="tab" href="#fighters" id="fighters-tab" role="tab">Fighters</a>
            </li>
            <li class="nav-item">
                <a aria-controls="abilities" aria-selected="false" class="nav-link active" data-toggle="tab" href="#abilities" id="abilities-tab" role="tab">Abilities</a>
            </li>
            <li class="nav-item">
                <a aria-controls="about" aria-selected="false" class="nav-link" data-toggle="tab" href="#about" id="about-tab" role="tab">About</a>
            </li>
            <li class="nav-item">
                <a aria-controls="issues" aria-selected="false" class="nav-link" data-toggle="tab" href="#issues" id="issues-tab" role="tab">Issues</a>
            </li>
            <li class="nav-item">
                <a aria-controls="downloads" aria-selected="false" class="nav-link" data-toggle="tab" href="#downloads" id="downloads-tab" role="tab">Downloads</a>
            </li>
        </ul>

        <div class="tab-content" id="wccTabContent">
            <div aria-labelledby="fighters-tab" class="tab-pane fade" id="fighters" role="tabpanel">
                {% include tabs/tabContentFighters.html %}
            </div>
            <div aria-labelledby="abilities-tab" class="tab-pane fade show active" id="abilities" role="tabpanel">
                {% include tabs/tabContentAbilities.html %}
            </div>
            <div aria-labelledby="about-tab" class="tab-pane fade" id="about" role="tabpanel">
                {% include tabs/tabContentAbout.html %}
            </div>
            <div aria-labelledby="issues-tab" class="tab-pane fade" id="issues" role="tabpanel">
                {% include tabs/tabContentIssues.html %}
            </div>
            <div aria-labelledby="downloads-tab" class="tab-pane fade" id="downloads" role="tabpanel">
                {% include tabs/tabContentDownloads.html %}
            </div>
        </div>

    </div>

    <script src="assets/vendors/jquery-v3.4.1.js"></script>
    <script src="assets/vendors/popper.min.js"></script>
    <script src="assets/vendors/bootstrap-v3.4.1.min.js"></script>

    <script src="assets/js/abilities.js"></script>
    <script src="assets/js/fighters.js"></script>

    <script type="text/javascript">
        $(function() {
            $('[data-toggle="tooltip"]').tooltip({
                boundary: 'window'
            })
        });

        $(document).ready(function() {
            var c=document.getElementById('canvas');
            var ctx=c.getContext('2d');
            ctx.beginPath();
            ctx.arc(95,50,40,0,2*Math.PI);
            // ctx.stroke();
        });
    </script>

</body>

</html>
