---
# this is an empty front matter
---
<!DOCTYPE html>
<html>
  <head>
    <style>
        @font-face {
          font-family: 'rodchenkoctt';
          src: url('rodchenkoctt.woff') format('woff');
          font-weight: normal;
          font-style: normal;
        }
        body {
          font-family:'rodchenkoctt';
        }
    </style>
    <meta charset="utf-8">
    <title>Test.</title>
  </head>
  <body>    
    <div class="font-hack" style="font-family:'rodchenkoctt'; visibility: hidden">nothing to see here, move along</div>
    
    <img id="cardBackground" style="display: none" src="card-bg.png">
    <img id="weaponStatBlock" style="display: none" src="statblock.png">
    
    <canvas id="myCanvas" width="630" height="450" style="border:1px solid #000000;"></canvas>

    <br/>

    <label for="numWounds">Wounds:</label>
    <input type="number" id="numWounds" name="numWounds" min="1" max="1000", value="10", oninput="onAnyChange()">
    
    <label for="toughness">Toughness:</label>
    <input type="number" id="toughness" name="toughness" min="0" max="100", value="3", oninput="onAnyChange()">

    <label for="movement">Movement:</label>
    <input type="number" id="movement" name="movement" min="0" max="100", value="4", oninput="onAnyChange()">

    <label for="pointCost">Point Cost:</label>
    <input type="number" id="pointCost" name="pointCost" min="0" max="9999", value="100", oninput="onAnyChange()">

    <br/>

    <div id="weapon1">
      <input type="checkbox", id="weaponEnabled" oninput="onWeaponControlsToggled(this)" checked>Weapon 1</input>
      <div id="weaponInputs">
        {% include weaponInputs.html %}
      </div>
    </div>

    <div id="weapon2">
      <input type="checkbox", id="weaponEnabled" oninput="onWeaponControlsToggled(this)">Weapon 2</input>
      <div id="weaponInputs" style="display:none">
        {% include weaponInputs.html %}
      </div>
    </div>

    <script src="scripts/jquery-3.4.1.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
