<section>
    <h2 class="h5 heading">Card background</h2>

    <div>
        <input checked id="backgroundStyleOne" name="backgroundToggle" oninput="onAnyChange()" type="radio" value="">
        <label for="backgroundStyleOne">Style 1</label>
    </div>

    <div>
        <input id="backgroundStyleTwo" name="backgroundToggle" oninput="onAnyChange()" type="radio" value="">
        <label for="backgroundStyleTwo">Style 2</label>
    </div>

    <div class="disabled mt-4">
        <label for="backgroundSelect">Load custom background</label>
        <input id="backgroundSelect" disabled oninput="onAnyChange()" type="file">
    </div>

</section>
