<div class="card">

    <div class="card-header" id="abilitiesHeadingZero">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseZero" aria-expanded="false" aria-controls="abilitiesCollapseZero">
                Title
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseZero">
        <div class="card-body">

            <div class="form-group">
                <label for="card-title">Title</label>
                <input class="form-control" type="text" id="card-title" name="card-title" value="Iron Golem" oninput="onAnyChange()">
            </div>

        </div>
    </div>

</div>
