<section>
    <h2 class="h5 section-heading">Card background</h2>

    <div class="form-check">
        <input checked class="form-check-input" id="abilities-radio-bg1" name="toggle-bg-abilities" oninput="onAnyChange()" type="radio">
        <label class="form-check-label" for="abilities-radio-bg1">Style 1</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" id="abilities-radio-bg2" name="toggle-bg-abilities" oninput="onAnyChange()" type="radio">
        <label class="form-check-label" for="abilities-radio-bg2">Style 2</label>
    </div>

    <div class="custom-file mt-4">
        <input disabled class="custom-file-input" id="abilities-upload-bg" oninput="onAnyChange()" type="file">
        <label class="custom-file-label" for="abilities-upload-bg">Load custom background</label>
    </div>

</section>
