<div class="card">

    <!-- <h2 class="h5 section-heading sr-only">Actions</h2> -->

    <div class="card-header" id="headingFour">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Actions
            </button>
        </h2>
    </div>

    <div class="collapse" id="collapseFour">
        <div class="card-body">

            <button type="submit" class="btn btn-primary" id="" onclick="onClearCache()">Clear all saves</button>

        </div>
    </div>

</div>
