<div class="card">

    <div class="card-header" id="abilitiesHeadingZero">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseZero" aria-expanded="false" aria-controls="abilitiesCollapseZero">
                Title and translations
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseZero">
        <div class="card-body">

            <div class="form-group">
                <label for="card-title">Title</label>
                <input class="form-control" type="text" id="card-title" name="card-title" value="Iron Golem" oninput="onAnyChange()">
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="card-translation-abilities">Abilities</label>
                        <input class="form-control" type="text" id="card-translation-abilities" name="card-translation-abilities" value="Abilities" oninput="onAnyChange()">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="card-translation-double">Double</label>
                        <input class="form-control" type="text" id="card-translation-double" name="card-translation-double" value="Double" oninput="onAnyChange()">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="card-translation-triple">Triple</label>
                        <input class="form-control" type="text" id="card-translation-triple" name="card-translation-triple" value="Triple" oninput="onAnyChange()">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="card-translation-quad">Quad</label>
                        <input class="form-control" type="text" id="card-translation-quad" name="card-translation-quad" value="Quad" oninput="onAnyChange()">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
