<div class="card">

    <div class="card-header" id="abilitiesHeadingFour">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFour" aria-expanded="false" aria-controls="abilitiesCollapseFour">
                Abilities
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseFour">
        <div class="card-body">
            <div class="accordion">

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourOne">
                        <h2 class="h5">
                            <input checked id="ability1-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourOne" aria-expanded="false" aria-controls="abilitiesCollapseFourOne">
                                First
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourOne">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability1-runemark">Runemark</label>
                                <select class="form-control" id="ability1-runemark" name="ability1-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourOne" data-row="1" class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectOne.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability1-double" name="ability1-dice" oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability1-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability1-triple" name="ability1-dice" oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability1-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability1-quad" name="ability1-dice" oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability1-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability1-name">Name</label>
                                <input class="form-control" id="ability1-name" oninput="onAnyChange()" type="text">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability1-text">Text</label>
                                <textarea class="form-control" id="ability1-text" oninput="onAnyChange()" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourTwo">
                        <h2 class="h5">
                            <input checked id="ability2-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourTwo" aria-expanded="false" aria-controls="abilitiesCollapseFourTwo">
                                Second
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourTwo">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability2-runemark">Runemark</label>
                                <select class="form-control" id="ability2-runemark" name="ability2-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourTwo" data-row="2" class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectTwo.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability2-double" name="ability2-dice" oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability2-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability2-triple" name="ability2-dice" oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability2-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability2-quad" name="ability2-dice" oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability2-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability2-name">Name</label>
                                <input class="form-control" id="ability2-name" oninput="onAnyChange()" type="text">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability2-text">Text</label>
                                <textarea class="form-control" id="ability2-text" oninput="onAnyChange()" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourThree">
                        <h2 class="h5">
                            <input checked id="ability3-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourThree" aria-expanded="false" aria-controls="abilitiesCollapseFourThree">
                                Third
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourThree">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability3-runemark">Runemark</label>
                                <select class="form-control" id="ability3-runemark" name="ability3-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourThree" data-row="3" class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectThree.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability3-double" name="ability3-dice" oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability3-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability3-triple" name="ability3-dice" oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability3-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability3-quad" name="ability3-dice" oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability3-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability3-name">Name</label>
                                <input class="form-control" id="ability3-name" oninput="onAnyChange()" type="text">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability3-text">Text</label>
                                <textarea class="form-control" id="ability3-text" oninput="onAnyChange()" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourFour">
                        <h2 class="h5">
                            <input checked id="ability4-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourFour" aria-expanded="false" aria-controls="abilitiesCollapseFourFour">
                                Fourth
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourFour">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability4-runemark">Runemark</label>
                                <select class="form-control" id="ability4-runemark" name="ability4-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourFour" data-row="4" class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectFour.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability4-double" name="ability4-dice" oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability4-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability4-triple" name="ability4-dice" oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability4-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability4-quad" name="ability4-dice" oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability4-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability4-name">Name</label>
                                <input class="form-control" id="ability4-name" oninput="onAnyChange()" type="text">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability4-text">Text</label>
                                <textarea class="form-control" id="ability4-text" oninput="onAnyChange()" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourFifth">
                        <h2 class="h5">
                            <input checked id="ability5-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourFifth" aria-expanded="false" aria-controls="abilitiesCollapseFourFifth">
                                Fifth
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourFifth">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability5-runemark">Runemark</label>
                                <select class="form-control" id="ability5-runemark" name="ability5-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourFifth" data-row="5" class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectFive.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability5-double" name="ability5-dice" oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability5-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability5-triple" name="ability5-dice" oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability5-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability5-quad" name="ability5-dice" oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability5-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability5-name">Name</label>
                                <input class="form-control" id="ability5-name" oninput="onAnyChange()" type="text">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability5-text">Text</label>
                                <textarea class="form-control" id="ability5-text" oninput="onAnyChange()" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourSixth">
                        <h2 class="h5">
                            <input checked id="ability6-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourSixth" aria-expanded="false" aria-controls="abilitiesCollapseFourSixth">
                                Sixth
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourSixth">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability6-runemark">Runemark</label>
                                <select class="form-control" id="ability6-runemark" name="ability5-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourSixth" data-row="6" class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectSix.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability6-double" name="ability6-dice" oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability6-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability6-triple" name="ability6-dice" oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability6-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability6-quad" name="ability6-dice" oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability6-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability6-name">Name</label>
                                <input class="form-control" id="ability6-name" oninput="onAnyChange()" type="text">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability6-text">Text</label>
                                <textarea class="form-control" id="ability6-text" oninput="onAnyChange()" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
