<div class="card">

    <div class="card-header" id="headingTwo">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Faction
            </button>
        </h2>
    </div>

    <div class="collapse" id="collapseTwo">
        <div class="card-body">

            <div class="form-group">
                <label for="ability-faction-runemark">Faction runemark</label>
                <select class="form-control" id="ability-faction-runemark" name="ability-faction-runemark">
                    <option>Choose a runemark</option>
                </select>
            </div>

        </div>
    </div>

</div>
