<div>
    <label for="faction-runemarks/factions/destruction/bonesplitterz.svg">
        <img src="runemarks/factions/destruction/bonesplitterz.svg" alt="Bonesplitterz faction runemark" data-toggle="tooltip" title="Bonesplitterz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/destruction/bonesplitterz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/destruction/gloomspite-gitz.svg">
        <img src="runemarks/factions/destruction/gloomspite-gitz.svg" alt="Gloomspite Gitz faction runemark" data-toggle="tooltip" title="Gloomspite Gitz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/destruction/gloomspite-gitz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/destruction/ironjawz.svg">
        <img src="runemarks/factions/destruction/ironjawz.svg" alt="Ironjawz faction runemark" data-toggle="tooltip" title="Ironjawz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/destruction/ironjawz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/destruction/ogor-mawtribes.svg">
        <img src="runemarks/factions/destruction/ogor-mawtribes.svg" alt="Ogor Mawtribes faction runemark" data-toggle="tooltip" title="Ogor Mawtribes" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/destruction/ogor-mawtribes.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
