<div>
    <label for="faction-runemarks/white/factions/bonesplitterz.svg">
        <img src="runemarks/white/factions/bonesplitterz.svg" alt="Bonesplitterz faction runemark" data-toggle="tooltip" title="Bonesplitterz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/bonesplitterz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/ally-factions/fimirach_inofficial.svg">
        <img src="runemarks/white/ally-factions/fimirach_inofficial.svg" alt="Fimirach (Inofficial) faction runemark" data-toggle="tooltip" title="Fimirach (Inofficial)" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/ally-factions/fimirach_inofficial.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/gloomspite-gitz.svg">
        <img src="runemarks/white/factions/gloomspite-gitz.svg" alt="Gloomspite Gitz faction runemark" data-toggle="tooltip" title="Gloomspite Gitz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/gloomspite-gitz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/ironjawz.svg">
        <img src="runemarks/white/factions/ironjawz.svg" alt="Ironjawz faction runemark" data-toggle="tooltip" title="Ironjawz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/ironjawz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/ogor-mawtribes.svg">
        <img src="runemarks/white/factions/ogor-mawtribes.svg" alt="Ogor Mawtribes faction runemark" data-toggle="tooltip" title="Ogor Mawtribes" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/ogor-mawtribes.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
