<div>
    <label for="faction-runemarks/factions/allies/beasts-of-chaos-ally.svg">
        <img src="runemarks/factions/allies/beasts-of-chaos-ally.svg" alt="Beasts of Chaos Allies faction runemark" data-toggle="tooltip" title="Beasts of Chaos Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/beasts-of-chaos-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/bonesplitterz-ally.svg">
        <img src="runemarks/factions/allies/bonesplitterz-ally.svg" alt="Bonesplitterz Allies faction runemark" data-toggle="tooltip" title="Bonesplitterz Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/bonesplitterz-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/daughters-of-khaine-ally.svg">
        <img src="runemarks/factions/allies/daughters-of-khaine-ally.svg" alt="Daughters of Khaine Allies faction runemark" data-toggle="tooltip" title="Daughters of Khaine Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/daughters-of-khaine-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/flesh-eater-courts-ally.svg">
        <img src="runemarks/factions/allies/flesh-eater-courts-ally.svg" alt="Flesh-eater Courts Allies faction runemark" data-toggle="tooltip" title="Flesh-eater Courts Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/flesh-eater-courts-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/gloomspite-gitz-ally.svg">
        <img src="runemarks/factions/allies/gloomspite-gitz-ally.svg" alt="Gloomspite Gitz Allies faction runemark" data-toggle="tooltip" title="Gloomspite Gitz Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/gloomspite-gitz-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/idoneth-deepkin-ally.svg">
        <img src="runemarks/factions/allies/idoneth-deepkin-ally.svg" alt="Idoneth Deepkin Allies faction runemark" data-toggle="tooltip" title="Idoneth Deepkin Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/idoneth-deepkin-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/ironjawz-ally.svg">
        <img src="runemarks/factions/allies/ironjawz-ally.svg" alt="Ironjawz Allies faction runemark" data-toggle="tooltip" title="Ironjawz Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/ironjawz-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/khorne-ally.svg">
        <img src="runemarks/factions/allies/khorne-ally.svg" alt="Khorne Allies faction runemark" data-toggle="tooltip" title="Khorne Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/khorne-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/legions-of-nagash-ally.svg">
        <img src="runemarks/factions/allies/legions-of-nagash-ally.svg" alt="Legions of Nagash Allies faction runemark" data-toggle="tooltip" title="Legions of Nagash Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/legions-of-nagash-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/nighthaunt-ally.svg">
        <img src="runemarks/factions/allies/nighthaunt-ally.svg" alt="Nighthaunt Allies faction runemark" data-toggle="tooltip" title="Nighthaunt Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/nighthaunt-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/nurgle-ally.svg">
        <img src="runemarks/factions/allies/nurgle-ally.svg" alt="Nurgle Allies faction runemark" data-toggle="tooltip" title="Nurgle Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/nurgle-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/skaven-ally.svg">
        <img src="runemarks/factions/allies/skaven-ally.svg" alt="Skaven Allies faction runemark" data-toggle="tooltip" title="Skaven Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/skaven-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/slaves-to-darkness-ally.svg">
        <img src="runemarks/factions/allies/slaves-to-darkness-ally.svg" alt="Slaves to Darkness Allies faction runemark" data-toggle="tooltip" title="Slaves to Darkness Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/slaves-to-darkness-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/se-warrior-chamber-ally.svg">
        <img src="runemarks/factions/allies/se-warrior-chamber-ally.svg" alt="Stormcast Eternals: Warrior Chamber Allies faction runemark" data-toggle="tooltip" title="Stormcast Eternals: Warrior Chamber Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/se-warrior-chamber-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/allies/tzeentch-ally.svg">
        <img src="runemarks/factions/allies/tzeentch-ally.svg" alt="Tzeentch Allies faction runemark" data-toggle="tooltip" title="Tzeentch Allies" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/allies/tzeentch-ally.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
