<div>
    <label for="faction-runemarks/factions/order/cities-of-sigmar-hammerhal.svg">
        <img src="runemarks/factions/order/cities-of-sigmar-hammerhal.svg" alt="Cities of Sigmar: Hammerhal faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Hammerhal" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/cities-of-sigmar-hammerhal.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/daughters-of-khaine.svg">
        <img src="runemarks/factions/order/daughters-of-khaine.svg" alt="Daughters of Khaine faction runemark" data-toggle="tooltip" title="Daughters of Khaine" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/daughters-of-khaine.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/fyreslayers.svg">
        <img src="runemarks/factions/order/fyreslayers.svg" alt="Fyreslayers faction runemark" data-toggle="tooltip" title="Fyreslayers" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/fyreslayers.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/idoneth-deepkin.svg">
        <img src="runemarks/factions/order/idoneth-deepkin.svg" alt="Idoneth Deepkin faction runemark" data-toggle="tooltip" title="Idoneth Deepkin" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/idoneth-deepkin.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/kharadron-overlords.svg">
        <img src="runemarks/factions/order/kharadron-overlords.svg" alt="Kharadron Overlords faction runemark" data-toggle="tooltip" title="Kharadron Overlords" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/kharadron-overlords.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/lumineth-realm-lords.svg">
        <img src="runemarks/factions/order/lumineth-realm-lords.svg" alt="Lumineth Realm-lords faction runemark" data-toggle="tooltip" title="Lumineth Realm-lords" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/lumineth-realm-lords.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/seraphon.svg">
        <img src="runemarks/factions/order/seraphon.svg" alt="Seraphon faction runemark" data-toggle="tooltip" title="Seraphon" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/seraphon.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/sacrosanct-chamber.svg">
        <img src="runemarks/factions/order/sacrosanct-chamber.svg" alt="Stormcast Eternals: Sacrosant Chamber faction runemark" data-toggle="tooltip" title="Stormcast Eternals: Sacrosant Chamber" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/sacrosanct-chamber.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/vanguard-chamber.svg">
        <img src="runemarks/factions/order/vanguard-chamber.svg" alt="Stormcast Eternals: Vanguard Chamber faction runemark" data-toggle="tooltip" title="Stormcast Eternals: Vanguard Chamber" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/vanguard-chamber.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/warrior-chamber.svg">
        <img src="runemarks/factions/order/warrior-chamber.svg" alt="Stormcast Eternals: Warrior Chamber faction runemark" data-toggle="tooltip" title="Stormcast Eternals: Warrior Chamber" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/warrior-chamber.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/order/sylvaneth.svg">
        <img src="runemarks/factions/order/sylvaneth.svg" alt="Sylvaneth faction runemark" data-toggle="tooltip" title="Sylvaneth" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/order/sylvaneth.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
