<div>
    <label for="faction-runemarks/factions/monsters/chaotic-beasts.svg">
        <img src="runemarks/factions/monsters/chaotic-beasts.svg" alt="Chaotic Beasts faction runemark" data-toggle="tooltip" title="Chaotic Beasts" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/monsters/chaotic-beasts.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/monsters/death-monster.svg">
        <img src="runemarks/factions/monsters/death-monster.svg" alt="Monsters of Death faction runemark" data-toggle="tooltip" title="Monsters of Death" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/monsters/death-monster.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/monsters/destruction-monster.svg">
        <img src="runemarks/factions/monsters/destruction-monster.svg" alt="Monsters of Destruction faction runemark" data-toggle="tooltip" title="Monsters of Destruction" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/monsters/destruction-monster.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/factions/monsters/order-monster.svg">
        <img src="runemarks/factions/monsters/order-monster.svg" alt="Monsters of Order faction runemark" data-toggle="tooltip" title="Monsters of Order" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/factions/monsters/order-monster.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
