<div>
    <label for="checkbox-runemarks/fighters/agile.svg">
        <img src="runemarks/fighters/agile.svg" alt="Agile" data-toggle="tooltip" title="Agile" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/agile.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/ally.svg">
        <img src="runemarks/fighters/ally.svg" alt="Ally" data-toggle="tooltip" title="Ally" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/ally.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/beast.svg">
        <img src="runemarks/fighters/beast.svg" alt="Beast" data-toggle="tooltip" title="Beast" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/beast.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/berserker.svg">
        <img src="runemarks/fighters/berserker.svg" alt="Berserker" data-toggle="tooltip" title="Berserker" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/berserker.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/brute.svg">
        <img src="runemarks/fighters/brute.svg" alt="Brute" data-toggle="tooltip" title="Brute" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/brute.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/bulwark.svg">
        <img src="runemarks/fighters/bulwark.svg" alt="Bulwark" data-toggle="tooltip" title="Bulwark" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/bulwark.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/champion.svg">
        <img src="runemarks/fighters/champion.svg" alt="Champion" data-toggle="tooltip" title="Champion" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/champion.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/destroyer.svg">
        <img src="runemarks/fighters/destroyer.svg" alt="Destroyer" data-toggle="tooltip" title="Destroyer" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/destroyer.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/elite.svg">
        <img src="runemarks/fighters/elite.svg" alt="Elite" data-toggle="tooltip" title="Elite" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/elite.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/ferocious.svg">
        <img src="runemarks/fighters/ferocious.svg" alt="Ferocious" data-toggle="tooltip" title="Ferocious" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/ferocious.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/fly.svg">
        <img src="runemarks/fighters/fly.svg" alt="Fly" data-toggle="tooltip" title="Fly" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/fly.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/frenzied.svg">
        <img src="runemarks/fighters/frenzied.svg" alt="Frenzied" data-toggle="tooltip" title="Frenzied" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/frenzied.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/gargantuan.svg">
        <img src="runemarks/fighters/gargantuan.svg" alt="Gargantuan" data-toggle="tooltip" title="Gargantuan" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/gargantuan.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/icon-bearer.svg">
        <img src="runemarks/fighters/icon-bearer.svg" alt="Icon Bearer" data-toggle="tooltip" title="Icon Bearer" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/icon-bearer.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/leader.svg">
        <img src="runemarks/fighters/leader.svg" alt="Leader" data-toggle="tooltip" title="Leader" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/leader.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/minion.svg">
        <img src="runemarks/fighters/minion.svg" alt="Minion" data-toggle="tooltip" title="Minion" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/minion.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/mount.svg">
        <img src="runemarks/fighters/mount.svg" alt="Mount" data-toggle="tooltip" title="Mount" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/mount.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/mystic.svg">
        <img src="runemarks/fighters/mystic.svg" alt="Mystic" data-toggle="tooltip" title="Mystic" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/mystic.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/priest.svg">
        <img src="runemarks/fighters/priest.svg" alt="Priest" data-toggle="tooltip" title="Priest" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/priest.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/scout.svg">
        <img src="runemarks/fighters/scout.svg" alt="Scout" data-toggle="tooltip" title="Scout" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/scout.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/sentience.svg">
        <img src="runemarks/fighters/sentience.svg" alt="Sentience" data-toggle="tooltip" title="Sentience" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/sentience.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/terrifying.svg">
        <img src="runemarks/fighters/terrifying.svg" alt="Terrifying" data-toggle="tooltip" title="Terrifying" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/terrifying.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/thrall.svg">
        <img src="runemarks/fighters/thrall.svg" alt="Thrall" data-toggle="tooltip" title="Thrall" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/thrall.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/trapper.svg">
        <img src="runemarks/fighters/trapper.svg" alt="Trapper" data-toggle="tooltip" title="Trapper" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/trapper.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters/warrior.svg">
        <img src="runemarks/fighters/warrior.svg" alt="Warrior" data-toggle="tooltip" title="Warrior" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters/warrior.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
