<div class="row mt-3">

    <div class="col-lg-8">
        <div class="jumbotron">
            <h1 class="display-4">Downloads</h1>
            <hr class="my-4">
            <ul>
                <li>
                    <a href="https://github.com/HENNIROCKS/warcry-card-creator/tree/master/runemarks" target="_blank">(All) Runemarks</a>
                </li>
                <li>
                    <a href="https://github.com/HENNIROCKS/warcry-card-creator/tree/master/templates" target="_blank">Mask templates for creating fighter images</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-4"></div>

</div>
