<div class="row mt-3">

    <div class="col-lg-8">
        <div class="jumbotron">
            <h1 class="display-4">Issues</h1>
            <hr class="my-4">
            <p class="lead">Feel free to address issues <a href="https://github.com/HENNIROCKS/warcry-card-creator/issues" target="_blank">here</a>.</p>
            <p>Consider issues labelled as "enhancement" by myself as some sort of a personal roadmap for this project.</p>
        </div>
    </div>

    <div class="col-lg-4"></div>

</div>
