<label for="weaponRunemarkSelect">Weapon Runemark:</label>
<div id="weaponRunemarkSelect" class="d-flex flex-wrap">
    {% capture foo %}{{ include.weapon }}{% endcapture %}

    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/iron-golems.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/untamed-beasts.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/corvus-cabal.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/cypher-lords.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/the-unmade.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/nighthaunt.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/scions-of-the-flame.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/legions-of-nagash.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/idoneth-deepkin.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/gloomspite-gitz.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/flesh-eater-courts.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/ironjawz.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/daughters-of-khaine.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/spire-tyrants.svg" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/black/stormcast-eternals.svg" %}
</div>
<label for="additionalWeaponMarkSelect">Load Runemark</label>
<input type="file" id="additionalWeaponMarkSelect" oninput="onWeaponRunemarkFileSelect(this, '{{ include.weapon }}')"> 

<br/>

<label for="rangeMin">Range (Min):</label>
<input type="number" id="rangeMin" name="rangeMin" min="0" max="999" value="0" oninput="onWeaponMinRangeChanged(this)">

<label for="rangeMax">Range (Max):</label>
<input type="number" id="rangeMax" name="rangeMax" min="0" max="999" value="1" oninput="onWeaponMaxRangeChanged(this)">

<label for="attacks">Attacks:</label>
<input type="number" id="attacks" name="attacks" min="0" max="999" value="1" oninput="onAnyChange()">

<label for="strength">Strength:</label>
<input type="number" id="strength" name="strength" min="1" max="99" value="3" oninput="onAnyChange()">

<label for="damageBase">Damage (Base):</label>
<input type="number" id="damageBase" name="damageBase" min="0" max="999" value="1" oninput="onAnyChange()">

<label for="damageCrit">Damage (Crit):</label>
<input type="number" id="damageCrit" name="damageCrit" min="0" max="999" value="2" oninput="onAnyChange()">