<label for="weaponRunemarkSelect">Weapon Icon:</label>
<div id="weaponRunemarkSelect" class="d-flex flex-wrap">
    {% capture foo %}{{ include.weapon }}{% endcapture %}

    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/axe.svg" title="Axe" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/blast.svg" title="Blast" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/claws.svg" title="Claws" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/club.svg" title="Club" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/dagger.svg" title="Dagger" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/fangs.svg" title="Fangs" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/mace.svg" title="Mace" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/ranged_weapon.svg" title="Ranged" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/reach_weapon.svg" title="Reach" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/scythe.svg" title="Scythe" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/spear.svg" title="Spear" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/sword.svg" title="Sword" %}
    {% include runemarkSelectRadio.html radioGroup=foo backgroundColor="white" imgSrc="runemarks/weapons/unarmed.svg" title="Unarmed" %}
</div>
<label for="additionalWeaponMarkSelect">Load Icon:</label>
<input type="file" id="additionalWeaponMarkSelect" oninput="onWeaponRunemarkFileSelect(this, '{{ include.weapon }}')"> 

<br/>

<label for="rangeMin">Range (Min):</label>
<input type="number" id="rangeMin" name="rangeMin" min="0" max="999" value="0" oninput="onWeaponMinRangeChanged(this)">

<label for="rangeMax">Range (Max):</label>
<input type="number" id="rangeMax" name="rangeMax" min="0" max="999" value="1" oninput="onWeaponMaxRangeChanged(this)">

<label for="attacks">Attacks:</label>
<input type="number" id="attacks" name="attacks" min="0" max="999" value="1" oninput="onAnyChange()">

<label for="strength">Strength:</label>
<input type="number" id="strength" name="strength" min="1" max="99" value="3" oninput="onAnyChange()">

<label for="damageBase">Damage (Base):</label>
<input type="number" id="damageBase" name="damageBase" min="0" max="999" value="1" oninput="onAnyChange()">

<label for="damageCrit">Damage (Crit):</label>
<input type="number" id="damageCrit" name="damageCrit" min="0" max="999" value="2" oninput="onAnyChange()">