<div>
    <label for="weapon1-runemarks/weapons/axe.svg">
        <img src="runemarks/weapons/axe.svg" alt="Axe" data-toggle="tooltip" title="Axe" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/axe.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/blast.svg">
        <img src="runemarks/weapons/blast.svg" alt="Blast" data-toggle="tooltip" title="Blast" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/blast.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/claws.svg">
        <img src="runemarks/weapons/claws.svg" alt="Claws" data-toggle="tooltip" title="Claws" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/claws.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/club.svg">
        <img src="runemarks/weapons/club.svg" alt="Club" data-toggle="tooltip" title="Club" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/club.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/dagger.svg">
        <img src="runemarks/weapons/dagger.svg" alt="Dagger" data-toggle="tooltip" title="Dagger" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/dagger.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/fangs.svg">
        <img src="runemarks/weapons/fangs.svg" alt="Fangs" data-toggle="tooltip" title="Fangs" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/fangs.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/hammer.svg">
        <img src="runemarks/weapons/hammer.svg" alt="Hammer" data-toggle="tooltip" title="Hammer" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/hammer.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/mace.svg">
        <img src="runemarks/weapons/mace.svg" alt="Mace" data-toggle="tooltip" title="Mace" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/mace.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/ranged_weapon.svg">
        <img src="runemarks/weapons/ranged_weapon.svg" alt="Ranged weapon" data-toggle="tooltip" title="Ranged weapon" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/ranged_weapon.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/reach_weapon.svg">
        <img src="runemarks/weapons/reach_weapon.svg" alt="Reach weapon" data-toggle="tooltip" title="Reach weapon" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/reach_weapon.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/scythe.svg">
        <img src="runemarks/weapons/scythe.svg" alt="Scythe" data-toggle="tooltip" title="Scythe" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/scythe.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/spear.svg">
        <img src="runemarks/weapons/spear.svg" alt="Spear" data-toggle="tooltip" title="Spear" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/spear.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/sword.svg">
        <img src="runemarks/weapons/sword.svg" alt="Sword" data-toggle="tooltip" title="Sword" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/sword.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="weapon1-runemarks/weapons/unarmed.svg">
        <img src="runemarks/weapons/unarmed.svg" alt="Unarmed" data-toggle="tooltip" title="Unarmed" width="50" height="50" />
    </label>
    <input type="radio" id="weapon1-runemarks/weapons/unarmed.svg" name="weapon1" onchange="onRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
