@font-face {
    font-family: "rodchenkoctt";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/rodchenkoctt.woff") format("woff");
}

canvas {
    border-radius: .5rem;
    height: auto;
    width: 100%;
}

.flex-wrap > div {
    border: 1px solid white;
}

.flex-wrap label {
    margin: 0;
}

#introText,
#introText + .row {
    margin-top: 2rem;
}

label {
    cursor: pointer;
}

#scroll-area {
    border-radius: .5rem;
    height: 100vh;
    max-height: 666px;
    border: 1px dashed rgba(0,0,0,.5);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
}

#scroll-area > div {
    margin-bottom: .5rem;
}

.tooltip-inner {
    background: #b2221a !important;
}

.bs-tooltip-top .arrow:before,
.bs-tooltip-auto[x-placement^="top"] .arrow:before {
    border-top-color: #b2221a;
}

.bs-tooltip-right .arrow:before,
.bs-tooltip-auto[x-placement^="right"] .arrow:before {
    border-right-color: #b2221a;
}

.bs-tooltip-bottom .arrow:before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow:before {
    border-bottom-color: #b2221a;
}

.bs-tooltip-left .arrow:before,
.bs-tooltip-auto[x-placement^="left"] .arrow:before {
    border-left-color: #b2221a;
}
