<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-anvilgard.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-anvilgard.svg" alt="Cities of Sigmar: Anvilgard faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Anvilgard" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-anvilgard.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-greywater-fastness.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-greywater-fastness.svg" alt="Cities of Sigmar: Greywater Fastness faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Greywater Fastness" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-greywater-fastness.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-hallowheart.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-hallowheart.svg" alt="Cities of Sigmar: Hallowheart faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Hallowheart" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-hallowheart.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-hammerhal.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-hammerhal.svg" alt="Cities of Sigmar: Hammerhal faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Hammerhal" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-hammerhal.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-tempests-eye.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-tempests-eye.svg" alt="Cities of Sigmar: Tempest's Eye faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Tempest's Eye" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-tempests-eye.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-the-living-city.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-the-living-city.svg" alt="Cities of Sigmar: The Living City faction runemark" data-toggle="tooltip" title="Cities of Sigmar: The Living City" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-the-living-city.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-the-phoenicium.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-the-phoenicium.svg" alt="Cities of Sigmar: The Phoenicium faction runemark" data-toggle="tooltip" title="Cities of Sigmar: The Phoenicium" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-the-phoenicium.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
