<div>
    <label for="faction-runemarks/white/grand-alliance-death.svg">
        <img src="runemarks/white/grand-alliance-death.svg" alt="Grand Alliance Death runemark" data-toggle="tooltip" title="Grand Alliance Death" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/grand-alliance-death.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-death-askurgan-trueblades.svg">
        <img src="runemarks/white/factions-death-askurgan-trueblades.svg" alt="Askurgan Trueblades faction runemark" data-toggle="tooltip" title="Askurgan Trueblades" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-death-askurgan-trueblades.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-death-flesh-eater-courts.svg">
        <img src="runemarks/white/factions-death-flesh-eater-courts.svg" alt="Flesh-eater Courts faction runemark" data-toggle="tooltip" title="Flesh-eater Courts" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-death-flesh-eater-courts.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-death-legions-of-nagash.svg">
        <img src="runemarks/white/factions-death-legions-of-nagash.svg" alt="Legions of Nagash faction runemark" data-toggle="tooltip" title="Legions of Nagash" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-death-legions-of-nagash.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-death-nighthaunt.svg">
        <img src="runemarks/white/factions-death-nighthaunt.svg" alt="Nighthaunt faction runemark" data-toggle="tooltip" title="Nighthaunt" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-death-nighthaunt.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-death-ossiarch-bonereapers.svg">
        <img src="runemarks/white/factions-death-ossiarch-bonereapers.svg" alt="Ossiarch Bonereapers faction runemark" data-toggle="tooltip" title="Ossiarch Bonereapers" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-death-ossiarch-bonereapers.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-death-soulblight-gravelords.svg">
        <img src="runemarks/white/factions-death-soulblight-gravelords.svg" alt="Soulblight Gravelords faction runemark" data-toggle="tooltip" title="Soulblight Gravelords" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-death-soulblight-gravelords.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
