<div>
    <label for="checkbox-runemarks/bladeborn.svg">
        <img src="runemarks/white/fighters-bladeborn.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-briarqueen.svg">
        <img src="runemarks/white/bladeborn-briarqueen.svg" alt="Thorns of the Briar Queen runemark" data-toggle="tooltip" title="Thorns of the Briar Queen" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-briarqueen.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-chosenaxes.svg">
        <img src="runemarks/white/bladeborn-chosenaxes.svg" alt="The Chosen Axe runemark" data-toggle="tooltip" title="The Chosen Axe" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-chosenaxes.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-crimsoncourt.svg">
        <img src="runemarks/white/bladeborn-crimsoncourt.svg" alt="The Crimson Court runemark" data-toggle="tooltip" title="The Crimson Court" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-crimsoncourt.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-dreadpageant.svg">
        <img src="runemarks/white/bladeborn-dreadpageant.svg" alt="The Dread Pageant runemark" data-toggle="tooltip" title="The Dread Pageant" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-dreadpageant.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-elathain.svg">
        <img src="runemarks/white/bladeborn-elathain.svg" alt="Elathain's Soulraid runemark" data-toggle="tooltip" title="Elathain's Soulraid" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-elathain.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-eyesofthenine.svg">
        <img src="runemarks/white/bladeborn-eyesofthenine.svg" alt="Eyes of the Nine runemark" data-toggle="tooltip" title="Eyes of the Nine" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-eyesofthenine.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-farstrider.svg">
        <img src="runemarks/white/bladeborn-farstrider.svg" alt="The Farstriders runemark" data-toggle="tooltip" title="The Farstriders" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-farstrider.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-garrek.svg">
        <img src="runemarks/white/bladeborn-garrek.svg" alt="Garrek's Reavers runemark" data-toggle="tooltip" title="Garrek's Reavers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-garrek.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-godsworn.svg">
        <img src="runemarks/white/bladeborn-godsworn.svg" alt="Godsworn Hunt runemark" data-toggle="tooltip" title="Godsworn Hunt" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-godsworn.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-grashrak.svg">
        <img src="runemarks/white/bladeborn-grashrak.svg" alt="Grashrak's Despoilers runemark" data-toggle="tooltip" title="Grashrak's Despoilers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-grashrak.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-grymwatch.svg">
        <img src="runemarks/white/bladeborn-grymwatch.svg" alt="The Grymwatch runemark" data-toggle="tooltip" title="The Grymwatch" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-grymwatch.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-hedkrakka.svg">
        <img src="runemarks/white/bladeborn-hedkrakka.svg" alt="Hedkrakka's Madmob runemark" data-toggle="tooltip" title="Hedkrakka's Madmob" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-hedkrakka.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-hrothgorn.svg">
        <img src="runemarks/white/bladeborn-hrothgorn.svg" alt="Hrothgorn's Mantrappers runemark" data-toggle="tooltip" title="Hrothgorn's Mantrappers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-hrothgorn.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-ironskull.svg">
        <img src="runemarks/white/bladeborn-ironskull.svg" alt="Ironskull's Boyz runemark" data-toggle="tooltip" title="Ironskull's Boyz" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-ironskull.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-kainan.svg">
        <img src="runemarks/white/bladeborn-kainan.svg" alt="Kainan's Reapers runemark" data-toggle="tooltip" title="Kainan's Reapers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-kainan.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-khagra.svg">
        <img src="runemarks/white/bladeborn-khagra.svg" alt="Khagra's Ravagers runemark" data-toggle="tooltip" title="Khagra's Ravagers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-khagra.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-magore.svg">
        <img src="runemarks/white/bladeborn-magore.svg" alt="Magore's Fiends runemark" data-toggle="tooltip" title="Magore's Fiends" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-magore.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-mollog.svg">
        <img src="runemarks/white/bladeborn-mollog.svg" alt="Mollog's Mob runemark" data-toggle="tooltip" title="Mollog's Mob" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-mollog.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-morgok.svg">
        <img src="runemarks/white/bladeborn-morgok.svg" alt="Morgok's Krushaz runemark" data-toggle="tooltip" title="Morgok's Krushaz" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-morgok.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-morgwaeth.svg">
        <img src="runemarks/white/bladeborn-morgwaeth.svg" alt="Morgwaeth Blade-coven runemark" data-toggle="tooltip" title="Morgwaeth Blade-coven" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-morgwaeth.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-myari.svg">
        <img src="runemarks/white/bladeborn-myari.svg" alt="Myari's Purifiers runemark" data-toggle="tooltip" title="Myari's Purifiers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-myari.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-rippa.svg">
        <img src="runemarks/white/bladeborn-rippa.svg" alt="Rippa's Snarlfangs runemark" data-toggle="tooltip" title="Rippa's Snarlfangs" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-rippa.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-sepulchral.svg">
        <img src="runemarks/white/bladeborn-sepulchral.svg" alt="Sepulchral Guard runemark" data-toggle="tooltip" title="Sepulchral Guard" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-sepulchral.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-skaeth.svg">
        <img src="runemarks/white/bladeborn-skaeth.svg" alt="Skaeth's Wild Hunt runemark" data-toggle="tooltip" title="Skaeth's Wild Hunt" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-skaeth.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-spiteclaw.svg">
        <img src="runemarks/white/bladeborn-spiteclaw.svg" alt="Spiteclaw's Swarm runemark" data-toggle="tooltip" title="Spiteclaw's Swarm" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-spiteclaw.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-starblood.svg">
        <img src="runemarks/white/bladeborn-starblood.svg" alt="The Starblood Stalkers runemark" data-toggle="tooltip" title="The Starblood Stalkers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-starblood.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-steelheart.svg">
        <img src="runemarks/white/bladeborn-steelheart.svg" alt="Steelheart's Champions runemark" data-toggle="tooltip" title="Steelheart's Champions" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-steelheart.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-stormsire.svg">
        <img src="runemarks/white/bladeborn-stormsire.svg" alt="Stormsire's Cursebreakers runemark" data-toggle="tooltip" title="Stormsire's Cursebreakers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-stormsire.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-thundrik.svg">
        <img src="runemarks/white/bladeborn-thundrik.svg" alt="Thundrik's Profiteers runemark" data-toggle="tooltip" title="Thundrik's Profiteers" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-thundrik.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-wurmspat.svg">
        <img src="runemarks/white/bladeborn-wurmspat.svg" alt="The Wurmspat runemark" data-toggle="tooltip" title="The Wurmspat" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-wurmspat.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-ylthari.svg">
        <img src="runemarks/white/bladeborn-ylthari.svg" alt="Ylthari's Guardians runemark" data-toggle="tooltip" title="Ylthari's Guardians" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-ylthari.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/bladeborn-zarbag.svg">
        <img src="runemarks/white/bladeborn-zarbag.svg" alt="Zarbag's Gitz runemark" data-toggle="tooltip" title="Zarbag's Gitz" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/bladeborn-zarbag.svg" onchange="onTagRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
