<div>
    <label for="faction-runemarks/white/factions/beasts-of-chaos.svg">
        <img src="runemarks/white/factions/beasts-of-chaos.svg" alt="Beasts of Chaos faction runemark" data-toggle="tooltip" title="Beasts of Chaos" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/beasts-of-chaos.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/khorne-daemons.svg">
        <img src="runemarks/white/factions/khorne-daemons.svg" alt="Blades of Khorne: Daemons faction runemark" data-toggle="tooltip" title="Blades of Khorne: Daemons" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/khorne-daemons.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/khorne-bloodbound.svg">
        <img src="runemarks/white/factions/khorne-bloodbound.svg" alt="Blades of Khorne: Bloodbound faction runemark" data-toggle="tooltip" title="Blades of Khorne: Bloodbound" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/khorne-bloodbound.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/corvus-cabal.svg">
        <img src="runemarks/white/factions/corvus-cabal.svg" alt="Corvus Cabal faction runemark" data-toggle="tooltip" title="Corvus Cabal" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/corvus-cabal.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/cypher-lords.svg">
        <img src="runemarks/white/factions/cypher-lords.svg" alt="Cypher Lords faction runemark" data-toggle="tooltip" title="Cypher Lords" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/cypher-lords.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/tzeentch-arcanites.svg">
        <img src="runemarks/white/factions/tzeentch-arcanites.svg" alt="Disciples of Tzeentch: Arcanites faction runemark" data-toggle="tooltip" title="Disciples of Tzeentch: Arcanites" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/tzeentch-arcanites.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/tzeentch-daemons.svg">
        <img src="runemarks/white/factions/tzeentch-daemons.svg" alt="Disciples of Tzeentch: Daemons faction runemark" data-toggle="tooltip" title="Disciples of Tzeentch: Daemons" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/tzeentch-daemons.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/everchosen.svg">
        <img src="runemarks/white/factions/everchosen.svg" alt="Everchosen faction runemark" data-toggle="tooltip" title="Everchosen" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/everchosen.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/hedonites-of-slaanesh.svg">
        <img src="runemarks/white/factions/hedonites-of-slaanesh.svg" alt="Hedonites of Slaanesh: Daemons faction runemark" data-toggle="tooltip" title="Hedonites of Slaanesh: Daemons" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/hedonites-of-slaanesh.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/iron-golem.svg">
        <img src="runemarks/white/factions/iron-golem.svg" alt="Iron Golem faction runemark" data-toggle="tooltip" title="Iron Golem" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/iron-golem.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/nurgle-daemons.svg">
        <img src="runemarks/white/factions/nurgle-daemons.svg" alt="Maggotkin of Nurgle: Daemons faction runemark" data-toggle="tooltip" title="Maggotkin of Nurgle: Daemons" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/nurgle-daemons.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/nurgle-rotbringers.svg">
        <img src="runemarks/white/factions/nurgle-rotbringers.svg" alt="Maggotkin of Nurgle: Rotbringers faction runemark" data-toggle="tooltip" title="Maggotkin of Nurgle: Rotbringers" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/nurgle-rotbringers.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/scions-of-the-flame.svg">
        <img src="runemarks/white/factions/scions-of-the-flame.svg" alt="Scions of the Flame faction runemark" data-toggle="tooltip" title="Scions of the Flame" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/scions-of-the-flame.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/skaven.svg">
        <img src="runemarks/white/factions/skaven.svg" alt="Skaven faction runemark" data-toggle="tooltip" title="Skaven" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/skaven.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/slaves-to-darkness.svg">
        <img src="runemarks/white/factions/slaves-to-darkness.svg" alt="Slaves to Darkness faction runemark" data-toggle="tooltip" title="Slaves to Darkness" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/slaves-to-darkness.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/spire-tyrants.svg">
        <img src="runemarks/white/factions/spire-tyrants.svg" alt="Spire Tyrants faction runemark" data-toggle="tooltip" title="Spire Tyrants" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/spire-tyrants.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/splintered-fang.svg">
        <img src="runemarks/white/factions/splintered-fang.svg" alt="Splintered Fang faction runemark" data-toggle="tooltip" title="Splintered Fang" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/splintered-fang.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/the-unmade.svg">
        <img src="runemarks/white/factions/the-unmade.svg" alt="The Unmade faction runemark" data-toggle="tooltip" title="The Unmade" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/the-unmade.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions/untamed-beasts.svg">
        <img src="runemarks/white/factions/untamed-beasts.svg" alt="Untamed Beasts faction runemark" data-toggle="tooltip" title="Untamed Beasts" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions/untamed-beasts.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
