<div>
    <label for="faction-runemarks/white/grand-alliance-order.svg">
        <img src="runemarks/white/grand-alliance-order.svg" alt="Grand Alliance Order runemark" data-toggle="tooltip" title="Grand Alliance Order" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/grand-alliance-order.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-alternative.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-alternative.svg" alt="Cities of Sigmar faction runemark (Alternative)" data-toggle="tooltip" title="Cities of Sigmar (Alternative)" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-alternative.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-anvilgard.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-anvilgard.svg" alt="Cities of Sigmar: Anvilgard faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Anvilgard" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-anvilgard.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-greywater-fastness.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-greywater-fastness.svg" alt="Cities of Sigmar: Greywater Fastness faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Greywater Fastness" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-greywater-fastness.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-hallowheart.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-hallowheart.svg" alt="Cities of Sigmar: Hallowheart faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Hallowheart" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-hallowheart.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-hammerhal.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-hammerhal.svg" alt="Cities of Sigmar: Hammerhal faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Hammerhal" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-hammerhal.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-tempests-eye.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-tempests-eye.svg" alt="Cities of Sigmar: Tempest's Eye faction runemark" data-toggle="tooltip" title="Cities of Sigmar: Tempest's Eye" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-tempests-eye.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-the-living-city.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-the-living-city.svg" alt="Cities of Sigmar: The Living City faction runemark" data-toggle="tooltip" title="Cities of Sigmar: The Living City" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-the-living-city.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar-the-phoenicium.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar-the-phoenicium.svg" alt="Cities of Sigmar: The Phoenicium faction runemark" data-toggle="tooltip" title="Cities of Sigmar: The Phoenicium" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar-the-phoenicium.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-cities-of-sigmar.svg">
        <img src="runemarks/white/factions-order-cities-of-sigmar.svg" alt="Cities of Sigmar faction runemark" data-toggle="tooltip" title="Cities of Sigmar" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-cities-of-sigmar.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-daughters-of-khaine.svg">
        <img src="runemarks/white/factions-order-daughters-of-khaine.svg" alt="Daughters of Khaine faction runemark" data-toggle="tooltip" title="Daughters of Khaine" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-daughters-of-khaine.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-fyreslayers.svg">
        <img src="runemarks/white/factions-order-fyreslayers.svg" alt="Fyreslayers faction runemark" data-toggle="tooltip" title="Fyreslayers" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-fyreslayers.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-idoneth-deepkin.svg">
        <img src="runemarks/white/factions-order-idoneth-deepkin.svg" alt="Idoneth Deepkin faction runemark" data-toggle="tooltip" title="Idoneth Deepkin" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-idoneth-deepkin.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-khainite-shadowstalkers.svg">
        <img src="runemarks/white/factions-order-khainite-shadowstalkers.svg" alt="Khainite Shadowstalkers faction runemark" data-toggle="tooltip" title="Khainite Shadowstalkers" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-khainite-shadowstalkers.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-kharadron-overlords.svg">
        <img src="runemarks/white/factions-order-kharadron-overlords.svg" alt="Kharadron Overlords faction runemark" data-toggle="tooltip" title="Kharadron Overlords" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-kharadron-overlords.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-lumineth-realmlords.svg">
        <img src="runemarks/white/factions-order-lumineth-realmlords.svg" alt="Lumineth Realm-lords faction runemark" data-toggle="tooltip" title="Lumineth Realm-lords" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-lumineth-realmlords.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-seraphon.svg">
        <img src="runemarks/white/factions-order-seraphon.svg" alt="Seraphon faction runemark" data-toggle="tooltip" title="Seraphon" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-seraphon.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-stormcast-eternals-alternative.svg">
        <img src="runemarks/white/factions-order-stormcast-eternals-alternative.svg" alt="Stormcast Eternals (Alternative) faction runemark" data-toggle="tooltip" title="Stormcast Eternals (Alternative)" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-stormcast-eternals-alternative.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-stormcast-eternals-sacrosanct.svg">
        <img src="runemarks/white/factions-order-stormcast-eternals-sacrosanct.svg" alt="Stormcast Eternals: Sacrosant Chamber faction runemark" data-toggle="tooltip" title="Stormcast Eternals: Sacrosant Chamber" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-stormcast-eternals-sacrosanct.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-stormcast-eternals-thunderstrike.svg">
        <img src="runemarks/white/factions-order-stormcast-eternals-thunderstrike.svg" alt="Stormcast Eternals: Thunderstrike Eternals faction runemark" data-toggle="tooltip" title="Stormcast Eternals: Thunderstrike Eternals" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-stormcast-eternals-thunderstrike.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-stormcast-eternals-vanguard.svg">
        <img src="runemarks/white/factions-order-stormcast-eternals-vanguard.svg" alt="Stormcast Eternals: Vanguard Chamber faction runemark" data-toggle="tooltip" title="Stormcast Eternals: Vanguard Chamber" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-stormcast-eternals-vanguard.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-stormcast-eternals-warrior.svg">
        <img src="runemarks/white/factions-order-stormcast-eternals-warrior.svg" alt="Stormcast Eternals: Warrior Chamber faction runemark" data-toggle="tooltip" title="Stormcast Eternals: Warrior Chamber" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-stormcast-eternals-warrior.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-sylvaneth-alternative.svg">
        <img src="runemarks/white/factions-order-sylvaneth-alternative.svg" alt="Sylvaneth faction runemark" data-toggle="tooltip" title="Sylvaneth (Alternative)" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-sylvaneth-alternative.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-order-sylvaneth.svg">
        <img src="runemarks/white/factions-order-sylvaneth.svg" alt="Sylvaneth faction runemark" data-toggle="tooltip" title="Sylvaneth" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-order-sylvaneth.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
