<div>
    <label for="faction-runemarks/white/factions-chaos-beasts-of-chaos.svg">
        <img src="runemarks/white/factions-chaos-beasts-of-chaos.svg" alt="Beasts of Chaos faction runemark" data-toggle="tooltip" title="Beasts of Chaos" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-beasts-of-chaos.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-corvus-cabal.svg">
        <img src="runemarks/white/factions-chaos-corvus-cabal.svg" alt="Corvus Cabal faction runemark" data-toggle="tooltip" title="Corvus Cabal" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-corvus-cabal.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-cypher-lords.svg">
        <img src="runemarks/white/factions-chaos-cypher-lords.svg" alt="Cypher Lords faction runemark" data-toggle="tooltip" title="Cypher Lords" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-cypher-lords.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-darkoath-savagers.svg">
        <img src="runemarks/white/factions-chaos-darkoath-savagers.svg" alt="Darkoath Savagers faction runemark" data-toggle="tooltip" title="Darkoath Savagers" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-darkoath-savagers.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-everchosen.svg">
        <img src="runemarks/white/factions-chaos-everchosen.svg" alt="Everchosen faction runemark" data-toggle="tooltip" title="Everchosen" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-everchosen.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-iron-golems.svg">
        <img src="runemarks/white/factions-chaos-iron-golems.svg" alt="Iron Golem faction runemark" data-toggle="tooltip" title="Iron Golem" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-iron-golems.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-khorne-bloodbound.svg">
        <img src="runemarks/white/factions-chaos-khorne-bloodbound.svg" alt="Blades of Khorne: Bloodbound faction runemark" data-toggle="tooltip" title="Blades of Khorne: Bloodbound" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-khorne-bloodbound.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-khorne-daemons.svg">
        <img src="runemarks/white/factions-chaos-khorne-daemons.svg" alt="Blades of Khorne: Daemons faction runemark" data-toggle="tooltip" title="Blades of Khorne: Daemons" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-khorne-daemons.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-nurgle-daemons.svg">
        <img src="runemarks/white/factions-chaos-nurgle-daemons.svg" alt="Maggotkin of Nurgle: Daemons faction runemark" data-toggle="tooltip" title="Maggotkin of Nurgle: Daemons" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-nurgle-daemons.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-nurgle-rotbringers.svg">
        <img src="runemarks/white/factions-chaos-nurgle-rotbringers.svg" alt="Maggotkin of Nurgle: Rotbringers faction runemark" data-toggle="tooltip" title="Maggotkin of Nurgle: Rotbringers" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-nurgle-rotbringers.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-scions-of-the-flame.svg">
        <img src="runemarks/white/factions-chaos-scions-of-the-flame.svg" alt="Scions of the Flame faction runemark" data-toggle="tooltip" title="Scions of the Flame" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-scions-of-the-flame.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-skaven.svg">
        <img src="runemarks/white/factions-chaos-skaven.svg" alt="Skaven faction runemark" data-toggle="tooltip" title="Skaven" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-skaven.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-slaanesh-daemons.svg">
        <img src="runemarks/white/factions-chaos-slaanesh-daemons.svg" alt="Hedonites of Slaanesh: Daemons faction runemark" data-toggle="tooltip" title="Hedonites of Slaanesh: Daemons" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-slaanesh-daemons.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-slaanesh-sybarites.svg">
        <img src="runemarks/white/factions-chaos-slaanesh-sybarites.svg" alt="Hedonites of Slaanesh: Sybarites faction runemark" data-toggle="tooltip" title="Hedonites of Slaanesh: Sybarites" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-slaanesh-sybarites.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-slaves-to-darkness.svg">
        <img src="runemarks/white/factions-chaos-slaves-to-darkness.svg" alt="Slaves to Darkness faction runemark" data-toggle="tooltip" title="Slaves to Darkness" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-slaves-to-darkness.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-spire-tyrants.svg">
        <img src="runemarks/white/factions-chaos-spire-tyrants.svg" alt="Spire Tyrants faction runemark" data-toggle="tooltip" title="Spire Tyrants" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-spire-tyrants.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-splintered-fang.svg">
        <img src="runemarks/white/factions-chaos-splintered-fang.svg" alt="Splintered Fang faction runemark" data-toggle="tooltip" title="Splintered Fang" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-splintered-fang.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-tarantulos-brood.svg">
        <img src="runemarks/white/factions-chaos-tarantulos-brood.svg" alt="Tarantulos Brood faction runemark" data-toggle="tooltip" title="Tarantulos Brood" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-tarantulos-brood.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-the-unmade.svg">
        <img src="runemarks/white/factions-chaos-the-unmade.svg" alt="The Unmade faction runemark" data-toggle="tooltip" title="The Unmade" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-the-unmade.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-tzeentch-arcanites.svg">
        <img src="runemarks/white/factions-chaos-tzeentch-arcanites.svg" alt="Disciples of Tzeentch: Arcanites faction runemark" data-toggle="tooltip" title="Disciples of Tzeentch: Arcanites" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-tzeentch-arcanites.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-tzeentch-daemons.svg">
        <img src="runemarks/white/factions-chaos-tzeentch-daemons.svg" alt="Disciples of Tzeentch: Daemons faction runemark" data-toggle="tooltip" title="Disciples of Tzeentch: Daemons" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-tzeentch-daemons.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-chaos-untamed-beasts.svg">
        <img src="runemarks/white/factions-chaos-untamed-beasts.svg" alt="Untamed Beasts faction runemark" data-toggle="tooltip" title="Untamed Beasts" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-chaos-untamed-beasts.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
