<div>
    <label for="faction-runemarks/white/bladeborn-briarqueen.svg">
        <img src="runemarks/white/bladeborn-briarqueen.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-briarqueen.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-chosenaxes.svg">
        <img src="runemarks/white/bladeborn-chosenaxes.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-chosenaxes.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-crimsoncourt.svg">
        <img src="runemarks/white/bladeborn-crimsoncourt.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-crimsoncourt.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-dreadpageant.svg">
        <img src="runemarks/white/bladeborn-dreadpageant.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-dreadpageant.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-elathain.svg">
        <img src="runemarks/white/bladeborn-elathain.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-elathain.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-eyesofthenine.svg">
        <img src="runemarks/white/bladeborn-eyesofthenine.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-eyesofthenine.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-farstrider.svg">
        <img src="runemarks/white/bladeborn-farstrider.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-farstrider.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-garrek.svg">
        <img src="runemarks/white/bladeborn-garrek.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-garrek.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-godsworn.svg">
        <img src="runemarks/white/bladeborn-godsworn.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-godsworn.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-grashrak.svg">
        <img src="runemarks/white/bladeborn-grashrak.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-grashrak.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-grymwatch.svg">
        <img src="runemarks/white/bladeborn-grymwatch.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-grymwatch.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-hedkrakka.svg">
        <img src="runemarks/white/bladeborn-hedkrakka.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-hedkrakka.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-hrothgorn.svg">
        <img src="runemarks/white/bladeborn-hrothgorn.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-hrothgorn.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-ironskull.svg">
        <img src="runemarks/white/bladeborn-ironskull.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-ironskull.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-kainan.svg">
        <img src="runemarks/white/bladeborn-kainan.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-kainan.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-khagra.svg">
        <img src="runemarks/white/bladeborn-khagra.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-khagra.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-magore.svg">
        <img src="runemarks/white/bladeborn-magore.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-magore.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-mollog.svg">
        <img src="runemarks/white/bladeborn-mollog.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-mollog.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-morgok.svg">
        <img src="runemarks/white/bladeborn-morgok.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-morgok.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-morgwaeth.svg">
        <img src="runemarks/white/bladeborn-morgwaeth.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-morgwaeth.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-myari.svg">
        <img src="runemarks/white/bladeborn-myari.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-myari.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-rippa.svg">
        <img src="runemarks/white/bladeborn-rippa.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-rippa.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-sepulchral.svg">
        <img src="runemarks/white/bladeborn-sepulchral.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-sepulchral.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-skaeth.svg">
        <img src="runemarks/white/bladeborn-skaeth.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-skaeth.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-spiteclaw.svg">
        <img src="runemarks/white/bladeborn-spiteclaw.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-spiteclaw.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-starblood.svg">
        <img src="runemarks/white/bladeborn-starblood.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-starblood.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-steelheart.svg">
        <img src="runemarks/white/bladeborn-steelheart.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-steelheart.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-stormsire.svg">
        <img src="runemarks/white/bladeborn-stormsire.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-stormsire.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-thundrik.svg">
        <img src="runemarks/white/bladeborn-thundrik.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-thundrik.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-wurmspat.svg">
        <img src="runemarks/white/bladeborn-wurmspat.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-wurmspat.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-ylthari.svg">
        <img src="runemarks/white/bladeborn-ylthari.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-ylthari.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/bladeborn-zarbag.svg">
        <img src="runemarks/white/bladeborn-zarbag.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/bladeborn-zarbag.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
