<div>
    <label for="twoOne">
        <img src="runemarks/black/fighters-agile.svg" alt="Agile" data-toggle="tooltip" title="Agile" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTwo">
        <img src="runemarks/black/fighters-ally.svg" alt="Ally" data-toggle="tooltip" title="Ally" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoThree">
        <img src="runemarks/black/fighters-beast.svg" alt="Beast" data-toggle="tooltip" title="Beast" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoThree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoFour">
        <img src="runemarks/black/fighters-berserker.svg" alt="Berserker" data-toggle="tooltip" title="Berserker" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoFive">
        <img src="runemarks/black/fighters-brute.svg" alt="Brute" data-toggle="tooltip" title="Brute" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoSix">
        <img src="runemarks/black/fighters-bulwark.svg" alt="Bulwark" data-toggle="tooltip" title="Bulwark" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoSeven">
        <img src="runemarks/black/fighters-champion.svg" alt="Champion" data-toggle="tooltip" title="Champion" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoEight">
        <img src="runemarks/black/fighters-destroyer.svg" alt="Destroyer" data-toggle="tooltip" title="Destroyer" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoEight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoNine">
        <img src="runemarks/black/fighters-elite.svg" alt="Elite" data-toggle="tooltip" title="Elite" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTen">
        <img src="runemarks/black/fighters-ferocious.svg" alt="Ferocious" data-toggle="tooltip" title="Ferocious" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoEleven">
        <img src="runemarks/black/fighters-fly.svg" alt="Fly" data-toggle="tooltip" title="Fly" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTwelve">
        <img src="runemarks/black/fighters-frenzied.svg" alt="Frenzied" data-toggle="tooltip" title="Frenzied" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoThirteen">
        <img src="runemarks/black/fighters-gargantuan.svg" alt="Gargantuan" data-toggle="tooltip" title="Gargantuan" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoFourteen">
        <img src="runemarks/black/fighters-icon-bearer.svg" alt="Icon Bearer" data-toggle="tooltip" title="Icon Bearer" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoFifteen">
        <img src="runemarks/black/fighters-leader.svg" alt="Leader" data-toggle="tooltip" title="Leader" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoSixteen">
        <img src="runemarks/black/fighters-minion.svg" alt="Minion" data-toggle="tooltip" title="Minion" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoSeventeen">
        <img src="runemarks/black/fighters-mount.svg" alt="Mount" data-toggle="tooltip" title="Mount" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoEighteen">
        <img src="runemarks/black/fighters-mystic.svg" alt="Mystic" data-toggle="tooltip" title="Mystic" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoNineteen">
        <img src="runemarks/black/fighters-priest.svg" alt="Priest" data-toggle="tooltip" title="Priest" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTwenty">
        <img src="runemarks/black/fighters-scout.svg" alt="Scout" data-toggle="tooltip" title="Scout" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTwentyone">
        <img src="runemarks/black/fighters-sentience.svg" alt="Sentience" data-toggle="tooltip" title="Sentience" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTwentytwo">
        <img src="runemarks/black/fighters-terrifying.svg" alt="Terrifying" data-toggle="tooltip" title="Terrifying" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTwentythree">
        <img src="runemarks/black/fighters-thrall.svg" alt="Thrall" data-toggle="tooltip" title="Thrall" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTwentyfour">
        <img src="runemarks/black/fighters-trapper.svg" alt="Trapper" data-toggle="tooltip" title="Trapper" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoTwentyfive">
        <img src="runemarks/black/fighters-warrior.svg" alt="Warrior" data-toggle="tooltip" title="Warrior" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
