<div>
    <label for="fiveBladebornOne">
        <img src="runemarks/black/fighters-agile.svg" alt="Agile" data-toggle="tooltip" title="Agile" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwo">
        <img src="runemarks/black/bladeborn-briarqueen.svg" alt="Thorns of the Briar Queen runemark" data-toggle="tooltip" title="Thorns of the Briar Queen" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornThree">
        <img src="runemarks/black/bladeborn-chosenaxes.svg" alt="The Chosen Axe runemark" data-toggle="tooltip" title="The Chosen Axe" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornThree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornFour">
        <img src="runemarks/black/bladeborn-crimsoncourt.svg" alt="The Crimson Court runemark" data-toggle="tooltip" title="The Crimson Court" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters-bladeborn.svg">
        <img src="runemarks/black/fighters-bladeborn.svg" alt="Bladeborn" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters-bladeborn.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornFive">
        <img src="runemarks/black/bladeborn-dreadpageant.svg" alt="The Dread Pageant runemark" data-toggle="tooltip" title="The Dread Pageant" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornSix">
        <img src="runemarks/black/bladeborn-elathain.svg" alt="Elathain's Soulraid runemark" data-toggle="tooltip" title="Elathain's Soulraid" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornSeven">
        <img src="runemarks/black/bladeborn-eyesofthenine.svg" alt="Eyes of the Nine runemark" data-toggle="tooltip" title="Eyes of the Nine" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornEight">
        <img src="runemarks/black/bladeborn-farstrider.svg" alt="The Farstriders runemark" data-toggle="tooltip" title="The Farstriders" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornEight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornNine">
        <img src="runemarks/black/bladeborn-garrek.svg" alt="Garrek's Reavers runemark" data-toggle="tooltip" title="Garrek's Reavers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTen">
        <img src="runemarks/black/bladeborn-godsworn.svg" alt="Godsworn Hunt runemark" data-toggle="tooltip" title="Godsworn Hunt" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornEleven">
        <img src="runemarks/black/bladeborn-grashrak.svg" alt="Grashrak's Despoilers runemark" data-toggle="tooltip" title="Grashrak's Despoilers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwelve">
        <img src="runemarks/black/bladeborn-grymwatch.svg" alt="The Grymwatch runemark" data-toggle="tooltip" title="The Grymwatch" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornThirteen">
        <img src="runemarks/black/bladeborn-hedkrakka.svg" alt="Hedkrakka's Madmob runemark" data-toggle="tooltip" title="Hedkrakka's Madmob" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornFourteen">
        <img src="runemarks/black/bladeborn-hrothgorn.svg" alt="Hrothgorn's Mantrappers runemark" data-toggle="tooltip" title="Hrothgorn's Mantrappers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornFifteen">
        <img src="runemarks/black/bladeborn-ironskull.svg" alt="Ironskull's Boyz runemark" data-toggle="tooltip" title="Ironskull's Boyz" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornSixteen">
        <img src="runemarks/black/bladeborn-kainan.svg" alt="Kainan's Reapers runemark" data-toggle="tooltip" title="Kainan's Reapers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornSeventeen">
        <img src="runemarks/black/bladeborn-khagra.svg" alt="Khagra's Ravagers runemark" data-toggle="tooltip" title="Khagra's Ravagers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornEighteen">
        <img src="runemarks/black/bladeborn-magore.svg" alt="Magore's Fiends runemark" data-toggle="tooltip" title="Magore's Fiends" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornNineteen">
        <img src="runemarks/black/bladeborn-mollog.svg" alt="Mollog's Mob runemark" data-toggle="tooltip" title="Mollog's Mob" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwenty">
        <img src="runemarks/black/bladeborn-morgok.svg" alt="Morgok's Krushaz runemark" data-toggle="tooltip" title="Morgok's Krushaz" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentyone">
        <img src="runemarks/black/bladeborn-morgwaeth.svg" alt="Morgwaeth Blade-coven runemark" data-toggle="tooltip" title="Morgwaeth Blade-coven" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentytwo">
        <img src="runemarks/black/bladeborn-myari.svg" alt="Myari's Purifiers runemark" data-toggle="tooltip" title="Myari's Purifiers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentythree">
        <img src="runemarks/black/bladeborn-rippa.svg" alt="Rippa's Snarlfangs runemark" data-toggle="tooltip" title="Rippa's Snarlfangs" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentyfour">
        <img src="runemarks/black/bladeborn-sepulchral.svg" alt="Sepulchral Guard runemark" data-toggle="tooltip" title="Sepulchral Guard" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentyfive">
        <img src="runemarks/black/bladeborn-skaeth.svg" alt="Skaeth's Wild Hunt runemark" data-toggle="tooltip" title="Skaeth's Wild Hunt" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentysix">
        <img src="runemarks/black/bladeborn-spiteclaw.svg" alt="Spiteclaw's Swarm runemark" data-toggle="tooltip" title="Spiteclaw's Swarm" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentysix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentyseven">
        <img src="runemarks/black/bladeborn-starblood.svg" alt="The Starblood Stalkers runemark" data-toggle="tooltip" title="The Starblood Stalkers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentyseven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentyeight">
        <img src="runemarks/black/bladeborn-steelheart.svg" alt="Steelheart's Champions runemark" data-toggle="tooltip" title="Steelheart's Champions" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentyeight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornTwentynine">
        <img src="runemarks/black/bladeborn-stormsire.svg" alt="Stormsire's Cursebreakers runemark" data-toggle="tooltip" title="Stormsire's Cursebreakers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornTwentynine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornThirty">
        <img src="runemarks/black/bladeborn-thundrik.svg" alt="Thundrik's Profiteers runemark" data-toggle="tooltip" title="Thundrik's Profiteers" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornThirty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornThirtyone">
        <img src="runemarks/black/bladeborn-wurmspat.svg" alt="The Wurmspat runemark" data-toggle="tooltip" title="The Wurmspat" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornThirtyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornThirtytwo">
        <img src="runemarks/black/bladeborn-ylthari.svg" alt="Ylthari's Guardians runemark" data-toggle="tooltip" title="Ylthari's Guardians" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornThirtytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveBladebornThirtythree">
        <img src="runemarks/black/bladeborn-zarbag.svg" alt="Zarbag's Gitz runemark" data-toggle="tooltip" title="Zarbag's Gitz" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveBladebornThirtythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
