<div>
    <label for="fiveOne">
        <img src="runemarks/black/fighters-agile.svg" alt="Agile" data-toggle="tooltip" title="Agile" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTwo">
        <img src="runemarks/black/fighters-ally.svg" alt="Ally" data-toggle="tooltip" title="Ally" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveThree">
        <img src="runemarks/black/fighters-beast.svg" alt="Beast" data-toggle="tooltip" title="Beast" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveThree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveFour">
        <img src="runemarks/black/fighters-berserker.svg" alt="Berserker" data-toggle="tooltip" title="Berserker" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveFive">
        <img src="runemarks/black/fighters-brute.svg" alt="Brute" data-toggle="tooltip" title="Brute" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveSix">
        <img src="runemarks/black/fighters-bulwark.svg" alt="Bulwark" data-toggle="tooltip" title="Bulwark" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveSeven">
        <img src="runemarks/black/fighters-champion.svg" alt="Champion" data-toggle="tooltip" title="Champion" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveEight">
        <img src="runemarks/black/fighters-destroyer.svg" alt="Destroyer" data-toggle="tooltip" title="Destroyer" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveEight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveNine">
        <img src="runemarks/black/fighters-elite.svg" alt="Elite" data-toggle="tooltip" title="Elite" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTen">
        <img src="runemarks/black/fighters-ferocious.svg" alt="Ferocious" data-toggle="tooltip" title="Ferocious" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveEleven">
        <img src="runemarks/black/fighters-fly.svg" alt="Fly" data-toggle="tooltip" title="Fly" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTwelve">
        <img src="runemarks/black/fighters-frenzied.svg" alt="Frenzied" data-toggle="tooltip" title="Frenzied" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveThirteen">
        <img src="runemarks/black/fighters-gargantuan.svg" alt="Gargantuan" data-toggle="tooltip" title="Gargantuan" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveFourteen">
        <img src="runemarks/black/fighters-icon-bearer.svg" alt="Icon Bearer" data-toggle="tooltip" title="Icon Bearer" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveFifteen">
        <img src="runemarks/black/fighters-leader.svg" alt="Leader" data-toggle="tooltip" title="Leader" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveSixteen">
        <img src="runemarks/black/fighters-minion.svg" alt="Minion" data-toggle="tooltip" title="Minion" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveSeventeen">
        <img src="runemarks/black/fighters-mount.svg" alt="Mount" data-toggle="tooltip" title="Mount" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveEighteen">
        <img src="runemarks/black/fighters-mystic.svg" alt="Mystic" data-toggle="tooltip" title="Mystic" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveNineteen">
        <img src="runemarks/black/fighters-priest.svg" alt="Priest" data-toggle="tooltip" title="Priest" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTwenty">
        <img src="runemarks/black/fighters-scout.svg" alt="Scout" data-toggle="tooltip" title="Scout" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTwentyone">
        <img src="runemarks/black/fighters-sentience.svg" alt="Sentience" data-toggle="tooltip" title="Sentience" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTwentytwo">
        <img src="runemarks/black/fighters-terrifying.svg" alt="Terrifying" data-toggle="tooltip" title="Terrifying" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTwentythree">
        <img src="runemarks/black/fighters-thrall.svg" alt="Thrall" data-toggle="tooltip" title="Thrall" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTwentyfour">
        <img src="runemarks/black/fighters-trapper.svg" alt="Trapper" data-toggle="tooltip" title="Trapper" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="fiveTwentyfive">
        <img src="runemarks/black/fighters-warrior.svg" alt="Warrior" data-toggle="tooltip" title="Warrior" width="50" height="50" />
    </label>
    <input type="checkbox" id="fiveTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
