<div>
    <label for="oneOne">
        <img src="runemarks/black/fighters-agile.svg" alt="Agile" data-toggle="tooltip" title="Agile" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTwo">
        <img src="runemarks/black/fighters-ally.svg" alt="Ally" data-toggle="tooltip" title="Ally" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneThree">
        <img src="runemarks/black/fighters-beast.svg" alt="Beast" data-toggle="tooltip" title="Beast" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneThree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneFour">
        <img src="runemarks/black/fighters-berserker.svg" alt="Berserker" data-toggle="tooltip" title="Berserker" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneFive">
        <img src="runemarks/black/fighters-brute.svg" alt="Brute" data-toggle="tooltip" title="Brute" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneSix">
        <img src="runemarks/black/fighters-bulwark.svg" alt="Bulwark" data-toggle="tooltip" title="Bulwark" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneSeven">
        <img src="runemarks/black/fighters-champion.svg" alt="Champion" data-toggle="tooltip" title="Champion" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneEight">
        <img src="runemarks/black/fighters-destroyer.svg" alt="Destroyer" data-toggle="tooltip" title="Destroyer" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneEight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneNine">
        <img src="runemarks/black/fighters-elite.svg" alt="Elite" data-toggle="tooltip" title="Elite" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTen">
        <img src="runemarks/black/fighters-ferocious.svg" alt="Ferocious" data-toggle="tooltip" title="Ferocious" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneEleven">
        <img src="runemarks/black/fighters-fly.svg" alt="Fly" data-toggle="tooltip" title="Fly" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTwelve">
        <img src="runemarks/black/fighters-frenzied.svg" alt="Frenzied" data-toggle="tooltip" title="Frenzied" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneThirteen">
        <img src="runemarks/black/fighters-gargantuan.svg" alt="Gargantuan" data-toggle="tooltip" title="Gargantuan" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneFourteen">
        <img src="runemarks/black/fighters-icon-bearer.svg" alt="Icon Bearer" data-toggle="tooltip" title="Icon Bearer" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneFifteen">
        <img src="runemarks/black/fighters-leader.svg" alt="Leader" data-toggle="tooltip" title="Leader" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneSixteen">
        <img src="runemarks/black/fighters-minion.svg" alt="Minion" data-toggle="tooltip" title="Minion" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneSeventeen">
        <img src="runemarks/black/fighters-mount.svg" alt="Mount" data-toggle="tooltip" title="Mount" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneEighteen">
        <img src="runemarks/black/fighters-mystic.svg" alt="Mystic" data-toggle="tooltip" title="Mystic" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneNineteen">
        <img src="runemarks/black/fighters-priest.svg" alt="Priest" data-toggle="tooltip" title="Priest" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTwenty">
        <img src="runemarks/black/fighters-scout.svg" alt="Scout" data-toggle="tooltip" title="Scout" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTwentyone">
        <img src="runemarks/black/fighters-sentience.svg" alt="Sentience" data-toggle="tooltip" title="Sentience" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTwentytwo">
        <img src="runemarks/black/fighters-terrifying.svg" alt="Terrifying" data-toggle="tooltip" title="Terrifying" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTwentythree">
        <img src="runemarks/black/fighters-thrall.svg" alt="Thrall" data-toggle="tooltip" title="Thrall" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTwentyfour">
        <img src="runemarks/black/fighters-trapper.svg" alt="Trapper" data-toggle="tooltip" title="Trapper" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneTwentyfive">
        <img src="runemarks/black/fighters-warrior.svg" alt="Warrior" data-toggle="tooltip" title="Warrior" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
