<div>
    <label for="oneBladebornOne">
        <img src="runemarks/black/fighters-bladeborn.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwo">
        <img src="runemarks/black/bladeborn-briarqueen.svg" alt="Thorns of the Briar Queen runemark" data-toggle="tooltip" title="Thorns of the Briar Queen" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornThree">
        <img src="runemarks/black/bladeborn-chosenaxes.svg" alt="The Chosen Axe runemark" data-toggle="tooltip" title="The Chosen Axe" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornThree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornFour">
        <img src="runemarks/black/bladeborn-crimsoncourt.svg" alt="The Crimson Court runemark" data-toggle="tooltip" title="The Crimson Court" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters-bladeborn.svg">
        <img src="runemarks/black/fighters-bladeborn.svg" alt="Bladeborn" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters-bladeborn.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornFive">
        <img src="runemarks/black/bladeborn-dreadpageant.svg" alt="The Dread Pageant runemark" data-toggle="tooltip" title="The Dread Pageant" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornSix">
        <img src="runemarks/black/bladeborn-elathain.svg" alt="Elathain's Soulraid runemark" data-toggle="tooltip" title="Elathain's Soulraid" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornSeven">
        <img src="runemarks/black/bladeborn-eyesofthenine.svg" alt="Eyes of the Nine runemark" data-toggle="tooltip" title="Eyes of the Nine" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornEight">
        <img src="runemarks/black/bladeborn-farstrider.svg" alt="The Farstriders runemark" data-toggle="tooltip" title="The Farstriders" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornEight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornNine">
        <img src="runemarks/black/bladeborn-garrek.svg" alt="Garrek's Reavers runemark" data-toggle="tooltip" title="Garrek's Reavers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTen">
        <img src="runemarks/black/bladeborn-godsworn.svg" alt="Godsworn Hunt runemark" data-toggle="tooltip" title="Godsworn Hunt" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornEleven">
        <img src="runemarks/black/bladeborn-grashrak.svg" alt="Grashrak's Despoilers runemark" data-toggle="tooltip" title="Grashrak's Despoilers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwelve">
        <img src="runemarks/black/bladeborn-grymwatch.svg" alt="The Grymwatch runemark" data-toggle="tooltip" title="The Grymwatch" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornThirteen">
        <img src="runemarks/black/bladeborn-hedkrakka.svg" alt="Hedkrakka's Madmob runemark" data-toggle="tooltip" title="Hedkrakka's Madmob" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornFourteen">
        <img src="runemarks/black/bladeborn-hrothgorn.svg" alt="Hrothgorn's Mantrappers runemark" data-toggle="tooltip" title="Hrothgorn's Mantrappers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornFifteen">
        <img src="runemarks/black/bladeborn-ironskull.svg" alt="Ironskull's Boyz runemark" data-toggle="tooltip" title="Ironskull's Boyz" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornSixteen">
        <img src="runemarks/black/bladeborn-kainan.svg" alt="Kainan's Reapers runemark" data-toggle="tooltip" title="Kainan's Reapers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornSeventeen">
        <img src="runemarks/black/bladeborn-khagra.svg" alt="Khagra's Ravagers runemark" data-toggle="tooltip" title="Khagra's Ravagers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornEighteen">
        <img src="runemarks/black/bladeborn-magore.svg" alt="Magore's Fiends runemark" data-toggle="tooltip" title="Magore's Fiends" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornNineteen">
        <img src="runemarks/black/bladeborn-mollog.svg" alt="Mollog's Mob runemark" data-toggle="tooltip" title="Mollog's Mob" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwenty">
        <img src="runemarks/black/bladeborn-morgok.svg" alt="Morgok's Krushaz runemark" data-toggle="tooltip" title="Morgok's Krushaz" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentyone">
        <img src="runemarks/black/bladeborn-morgwaeth.svg" alt="Morgwaeth Blade-coven runemark" data-toggle="tooltip" title="Morgwaeth Blade-coven" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentytwo">
        <img src="runemarks/black/bladeborn-myari.svg" alt="Myari's Purifiers runemark" data-toggle="tooltip" title="Myari's Purifiers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentythree">
        <img src="runemarks/black/bladeborn-rippa.svg" alt="Rippa's Snarlfangs runemark" data-toggle="tooltip" title="Rippa's Snarlfangs" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentyfour">
        <img src="runemarks/black/bladeborn-sepulchral.svg" alt="Sepulchral Guard runemark" data-toggle="tooltip" title="Sepulchral Guard" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentyfive">
        <img src="runemarks/black/bladeborn-skaeth.svg" alt="Skaeth's Wild Hunt runemark" data-toggle="tooltip" title="Skaeth's Wild Hunt" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentysix">
        <img src="runemarks/black/bladeborn-spiteclaw.svg" alt="Spiteclaw's Swarm runemark" data-toggle="tooltip" title="Spiteclaw's Swarm" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentysix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentyseven">
        <img src="runemarks/black/bladeborn-starblood.svg" alt="The Starblood Stalkers runemark" data-toggle="tooltip" title="The Starblood Stalkers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentyseven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentyeight">
        <img src="runemarks/black/bladeborn-steelheart.svg" alt="Steelheart's Champions runemark" data-toggle="tooltip" title="Steelheart's Champions" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentyeight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornTwentynine">
        <img src="runemarks/black/bladeborn-stormsire.svg" alt="Stormsire's Cursebreakers runemark" data-toggle="tooltip" title="Stormsire's Cursebreakers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornTwentynine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornThirty">
        <img src="runemarks/black/bladeborn-thundrik.svg" alt="Thundrik's Profiteers runemark" data-toggle="tooltip" title="Thundrik's Profiteers" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornThirty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornThirtyone">
        <img src="runemarks/black/bladeborn-wurmspat.svg" alt="The Wurmspat runemark" data-toggle="tooltip" title="The Wurmspat" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornThirtyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornThirtytwo">
        <img src="runemarks/black/bladeborn-ylthari.svg" alt="Ylthari's Guardians runemark" data-toggle="tooltip" title="Ylthari's Guardians" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornThirtytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="oneBladebornThirtythree">
        <img src="runemarks/black/bladeborn-zarbag.svg" alt="Zarbag's Gitz runemark" data-toggle="tooltip" title="Zarbag's Gitz" width="50" height="50" />
    </label>
    <input type="checkbox" id="oneBladebornThirtythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
