<div>
    <label for="twoBladebornOne">
        <img src="runemarks/black/fighters-agile.svg" alt="Agile" data-toggle="tooltip" title="Agile" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwo">
        <img src="runemarks/black/bladeborn-briarqueen.svg" alt="Thorns of the Briar Queen runemark" data-toggle="tooltip" title="Thorns of the Briar Queen" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornThree">
        <img src="runemarks/black/bladeborn-chosenaxes.svg" alt="The Chosen Axe runemark" data-toggle="tooltip" title="The Chosen Axe" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornThree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornFour">
        <img src="runemarks/black/bladeborn-crimsoncourt.svg" alt="The Crimson Court runemark" data-toggle="tooltip" title="The Crimson Court" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters-bladeborn.svg">
        <img src="runemarks/black/fighters-bladeborn.svg" alt="Bladeborn" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters-bladeborn.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornFive">
        <img src="runemarks/black/bladeborn-dreadpageant.svg" alt="The Dread Pageant runemark" data-toggle="tooltip" title="The Dread Pageant" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornSix">
        <img src="runemarks/black/bladeborn-elathain.svg" alt="Elathain's Soulraid runemark" data-toggle="tooltip" title="Elathain's Soulraid" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornSeven">
        <img src="runemarks/black/bladeborn-eyesofthenine.svg" alt="Eyes of the Nine runemark" data-toggle="tooltip" title="Eyes of the Nine" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornEight">
        <img src="runemarks/black/bladeborn-farstrider.svg" alt="The Farstriders runemark" data-toggle="tooltip" title="The Farstriders" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornEight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornNine">
        <img src="runemarks/black/bladeborn-garrek.svg" alt="Garrek's Reavers runemark" data-toggle="tooltip" title="Garrek's Reavers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTen">
        <img src="runemarks/black/bladeborn-godsworn.svg" alt="Godsworn Hunt runemark" data-toggle="tooltip" title="Godsworn Hunt" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornEleven">
        <img src="runemarks/black/bladeborn-grashrak.svg" alt="Grashrak's Despoilers runemark" data-toggle="tooltip" title="Grashrak's Despoilers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwelve">
        <img src="runemarks/black/bladeborn-grymwatch.svg" alt="The Grymwatch runemark" data-toggle="tooltip" title="The Grymwatch" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornThirteen">
        <img src="runemarks/black/bladeborn-hedkrakka.svg" alt="Hedkrakka's Madmob runemark" data-toggle="tooltip" title="Hedkrakka's Madmob" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornFourteen">
        <img src="runemarks/black/bladeborn-hrothgorn.svg" alt="Hrothgorn's Mantrappers runemark" data-toggle="tooltip" title="Hrothgorn's Mantrappers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornFifteen">
        <img src="runemarks/black/bladeborn-ironskull.svg" alt="Ironskull's Boyz runemark" data-toggle="tooltip" title="Ironskull's Boyz" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornSixteen">
        <img src="runemarks/black/bladeborn-kainan.svg" alt="Kainan's Reapers runemark" data-toggle="tooltip" title="Kainan's Reapers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornSeventeen">
        <img src="runemarks/black/bladeborn-khagra.svg" alt="Khagra's Ravagers runemark" data-toggle="tooltip" title="Khagra's Ravagers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornEighteen">
        <img src="runemarks/black/bladeborn-magore.svg" alt="Magore's Fiends runemark" data-toggle="tooltip" title="Magore's Fiends" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornNineteen">
        <img src="runemarks/black/bladeborn-mollog.svg" alt="Mollog's Mob runemark" data-toggle="tooltip" title="Mollog's Mob" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwenty">
        <img src="runemarks/black/bladeborn-morgok.svg" alt="Morgok's Krushaz runemark" data-toggle="tooltip" title="Morgok's Krushaz" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentyone">
        <img src="runemarks/black/bladeborn-morgwaeth.svg" alt="Morgwaeth Blade-coven runemark" data-toggle="tooltip" title="Morgwaeth Blade-coven" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentytwo">
        <img src="runemarks/black/bladeborn-myari.svg" alt="Myari's Purifiers runemark" data-toggle="tooltip" title="Myari's Purifiers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentythree">
        <img src="runemarks/black/bladeborn-rippa.svg" alt="Rippa's Snarlfangs runemark" data-toggle="tooltip" title="Rippa's Snarlfangs" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentyfour">
        <img src="runemarks/black/bladeborn-sepulchral.svg" alt="Sepulchral Guard runemark" data-toggle="tooltip" title="Sepulchral Guard" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentyfive">
        <img src="runemarks/black/bladeborn-skaeth.svg" alt="Skaeth's Wild Hunt runemark" data-toggle="tooltip" title="Skaeth's Wild Hunt" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentysix">
        <img src="runemarks/black/bladeborn-spiteclaw.svg" alt="Spiteclaw's Swarm runemark" data-toggle="tooltip" title="Spiteclaw's Swarm" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentysix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentyseven">
        <img src="runemarks/black/bladeborn-starblood.svg" alt="The Starblood Stalkers runemark" data-toggle="tooltip" title="The Starblood Stalkers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentyseven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentyeight">
        <img src="runemarks/black/bladeborn-steelheart.svg" alt="Steelheart's Champions runemark" data-toggle="tooltip" title="Steelheart's Champions" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentyeight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornTwentynine">
        <img src="runemarks/black/bladeborn-stormsire.svg" alt="Stormsire's Cursebreakers runemark" data-toggle="tooltip" title="Stormsire's Cursebreakers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornTwentynine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornThirty">
        <img src="runemarks/black/bladeborn-thundrik.svg" alt="Thundrik's Profiteers runemark" data-toggle="tooltip" title="Thundrik's Profiteers" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornThirty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornThirtyone">
        <img src="runemarks/black/bladeborn-wurmspat.svg" alt="The Wurmspat runemark" data-toggle="tooltip" title="The Wurmspat" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornThirtyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornThirtytwo">
        <img src="runemarks/black/bladeborn-ylthari.svg" alt="Ylthari's Guardians runemark" data-toggle="tooltip" title="Ylthari's Guardians" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornThirtytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="twoBladebornThirtythree">
        <img src="runemarks/black/bladeborn-zarbag.svg" alt="Zarbag's Gitz runemark" data-toggle="tooltip" title="Zarbag's Gitz" width="50" height="50" />
    </label>
    <input type="checkbox" id="twoBladebornThirtythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
