<div>
    <label for="sixOne">
        <img src="runemarks/black/fighters-agile.svg" alt="Agile" data-toggle="tooltip" title="Agile" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTwo">
        <img src="runemarks/black/fighters-ally.svg" alt="Ally" data-toggle="tooltip" title="Ally" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixThree">
        <img src="runemarks/black/fighters-beast.svg" alt="Beast" data-toggle="tooltip" title="Beast" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixThree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixFour">
        <img src="runemarks/black/fighters-berserker.svg" alt="Berserker" data-toggle="tooltip" title="Berserker" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters-bladeborn.svg">
        <img src="runemarks/black/fighters-bladeborn.svg" alt="Bladeborn" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters-bladeborn.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixFive">
        <img src="runemarks/black/fighters-brute.svg" alt="Brute" data-toggle="tooltip" title="Brute" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixSix">
        <img src="runemarks/black/fighters-bulwark.svg" alt="Bulwark" data-toggle="tooltip" title="Bulwark" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixSeven">
        <img src="runemarks/black/fighters-champion.svg" alt="Champion" data-toggle="tooltip" title="Champion" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixEight">
        <img src="runemarks/black/fighters-destroyer.svg" alt="Destroyer" data-toggle="tooltip" title="Destroyer" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixEight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixNine">
        <img src="runemarks/black/fighters-elite.svg" alt="Elite" data-toggle="tooltip" title="Elite" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTen">
        <img src="runemarks/black/fighters-ferocious.svg" alt="Ferocious" data-toggle="tooltip" title="Ferocious" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixEleven">
        <img src="runemarks/black/fighters-fly.svg" alt="Fly" data-toggle="tooltip" title="Fly" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTwelve">
        <img src="runemarks/black/fighters-frenzied.svg" alt="Frenzied" data-toggle="tooltip" title="Frenzied" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixThirteen">
        <img src="runemarks/black/fighters-gargantuan.svg" alt="Gargantuan" data-toggle="tooltip" title="Gargantuan" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixFourteen">
        <img src="runemarks/black/fighters-icon-bearer.svg" alt="Icon Bearer" data-toggle="tooltip" title="Icon Bearer" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixFifteen">
        <img src="runemarks/black/fighters-leader.svg" alt="Leader" data-toggle="tooltip" title="Leader" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixSixteen">
        <img src="runemarks/black/fighters-minion.svg" alt="Minion" data-toggle="tooltip" title="Minion" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixSeventeen">
        <img src="runemarks/black/fighters-mount.svg" alt="Mount" data-toggle="tooltip" title="Mount" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixEighteen">
        <img src="runemarks/black/fighters-mystic.svg" alt="Mystic" data-toggle="tooltip" title="Mystic" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixNineteen">
        <img src="runemarks/black/fighters-priest.svg" alt="Priest" data-toggle="tooltip" title="Priest" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTwenty">
        <img src="runemarks/black/fighters-scout.svg" alt="Scout" data-toggle="tooltip" title="Scout" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTwentyone">
        <img src="runemarks/black/fighters-sentience.svg" alt="Sentience" data-toggle="tooltip" title="Sentience" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTwentytwo">
        <img src="runemarks/black/fighters-terrifying.svg" alt="Terrifying" data-toggle="tooltip" title="Terrifying" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTwentythree">
        <img src="runemarks/black/fighters-thrall.svg" alt="Thrall" data-toggle="tooltip" title="Thrall" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTwentyfour">
        <img src="runemarks/black/fighters-trapper.svg" alt="Trapper" data-toggle="tooltip" title="Trapper" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sixTwentyfive">
        <img src="runemarks/black/fighters-warrior.svg" alt="Warrior" data-toggle="tooltip" title="Warrior" width="50" height="50" />
    </label>
    <input type="checkbox" id="sixTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
