<div>
    <label for="threeBladebornOne">
        <img src="runemarks/black/fighters-bladeborn.svg" alt="Bladeborn runemark" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwo">
        <img src="runemarks/black/bladeborn-briarqueen.svg" alt="Thorns of the Briar Queen runemark" data-toggle="tooltip" title="Thorns of the Briar Queen" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornThree">
        <img src="runemarks/black/bladeborn-chosenaxes.svg" alt="The Chosen Axe runemark" data-toggle="tooltip" title="The Chosen Axe" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornThree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornFour">
        <img src="runemarks/black/bladeborn-crimsoncourt.svg" alt="The Crimson Court runemark" data-toggle="tooltip" title="The Crimson Court" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/fighters-bladeborn.svg">
        <img src="runemarks/black/fighters-bladeborn.svg" alt="Bladeborn" data-toggle="tooltip" title="Bladeborn" width="50" height="50" />
    </label>
    <input type="checkbox" id="checkbox-runemarks/fighters-bladeborn.svg" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornFive">
        <img src="runemarks/black/bladeborn-dreadpageant.svg" alt="The Dread Pageant runemark" data-toggle="tooltip" title="The Dread Pageant" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornSix">
        <img src="runemarks/black/bladeborn-elathain.svg" alt="Elathain's Soulraid runemark" data-toggle="tooltip" title="Elathain's Soulraid" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornSeven">
        <img src="runemarks/black/bladeborn-eyesofthenine.svg" alt="Eyes of the Nine runemark" data-toggle="tooltip" title="Eyes of the Nine" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornEight">
        <img src="runemarks/black/bladeborn-farstrider.svg" alt="The Farstriders runemark" data-toggle="tooltip" title="The Farstriders" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornEight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornNine">
        <img src="runemarks/black/bladeborn-garrek.svg" alt="Garrek's Reavers runemark" data-toggle="tooltip" title="Garrek's Reavers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTen">
        <img src="runemarks/black/bladeborn-godsworn.svg" alt="Godsworn Hunt runemark" data-toggle="tooltip" title="Godsworn Hunt" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornEleven">
        <img src="runemarks/black/bladeborn-grashrak.svg" alt="Grashrak's Despoilers runemark" data-toggle="tooltip" title="Grashrak's Despoilers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwelve">
        <img src="runemarks/black/bladeborn-grymwatch.svg" alt="The Grymwatch runemark" data-toggle="tooltip" title="The Grymwatch" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornThirteen">
        <img src="runemarks/black/bladeborn-hedkrakka.svg" alt="Hedkrakka's Madmob runemark" data-toggle="tooltip" title="Hedkrakka's Madmob" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornFourteen">
        <img src="runemarks/black/bladeborn-hrothgorn.svg" alt="Hrothgorn's Mantrappers runemark" data-toggle="tooltip" title="Hrothgorn's Mantrappers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornFifteen">
        <img src="runemarks/black/bladeborn-ironskull.svg" alt="Ironskull's Boyz runemark" data-toggle="tooltip" title="Ironskull's Boyz" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornSixteen">
        <img src="runemarks/black/bladeborn-kainan.svg" alt="Kainan's Reapers runemark" data-toggle="tooltip" title="Kainan's Reapers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornSeventeen">
        <img src="runemarks/black/bladeborn-khagra.svg" alt="Khagra's Ravagers runemark" data-toggle="tooltip" title="Khagra's Ravagers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornEighteen">
        <img src="runemarks/black/bladeborn-magore.svg" alt="Magore's Fiends runemark" data-toggle="tooltip" title="Magore's Fiends" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornNineteen">
        <img src="runemarks/black/bladeborn-mollog.svg" alt="Mollog's Mob runemark" data-toggle="tooltip" title="Mollog's Mob" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwenty">
        <img src="runemarks/black/bladeborn-morgok.svg" alt="Morgok's Krushaz runemark" data-toggle="tooltip" title="Morgok's Krushaz" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentyone">
        <img src="runemarks/black/bladeborn-morgwaeth.svg" alt="Morgwaeth Blade-coven runemark" data-toggle="tooltip" title="Morgwaeth Blade-coven" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentytwo">
        <img src="runemarks/black/bladeborn-myari.svg" alt="Myari's Purifiers runemark" data-toggle="tooltip" title="Myari's Purifiers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentythree">
        <img src="runemarks/black/bladeborn-rippa.svg" alt="Rippa's Snarlfangs runemark" data-toggle="tooltip" title="Rippa's Snarlfangs" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentyfour">
        <img src="runemarks/black/bladeborn-sepulchral.svg" alt="Sepulchral Guard runemark" data-toggle="tooltip" title="Sepulchral Guard" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentyfive">
        <img src="runemarks/black/bladeborn-skaeth.svg" alt="Skaeth's Wild Hunt runemark" data-toggle="tooltip" title="Skaeth's Wild Hunt" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentysix">
        <img src="runemarks/black/bladeborn-spiteclaw.svg" alt="Spiteclaw's Swarm runemark" data-toggle="tooltip" title="Spiteclaw's Swarm" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentysix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentyseven">
        <img src="runemarks/black/bladeborn-starblood.svg" alt="The Starblood Stalkers runemark" data-toggle="tooltip" title="The Starblood Stalkers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentyseven" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentyeight">
        <img src="runemarks/black/bladeborn-steelheart.svg" alt="Steelheart's Champions runemark" data-toggle="tooltip" title="Steelheart's Champions" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentyeight" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornTwentynine">
        <img src="runemarks/black/bladeborn-stormsire.svg" alt="Stormsire's Cursebreakers runemark" data-toggle="tooltip" title="Stormsire's Cursebreakers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornTwentynine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornThirty">
        <img src="runemarks/black/bladeborn-thundrik.svg" alt="Thundrik's Profiteers runemark" data-toggle="tooltip" title="Thundrik's Profiteers" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornThirty" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornThirtyone">
        <img src="runemarks/black/bladeborn-wurmspat.svg" alt="The Wurmspat runemark" data-toggle="tooltip" title="The Wurmspat" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornThirtyone" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornThirtytwo">
        <img src="runemarks/black/bladeborn-ylthari.svg" alt="Ylthari's Guardians runemark" data-toggle="tooltip" title="Ylthari's Guardians" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornThirtytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="threeBladebornThirtythree">
        <img src="runemarks/black/bladeborn-zarbag.svg" alt="Zarbag's Gitz runemark" data-toggle="tooltip" title="Zarbag's Gitz" width="50" height="50" />
    </label>
    <input type="checkbox" id="threeBladebornThirtythree" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>
