<div class="card">

    <div class="card-header" id="fightersHeadingSix">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseSix" aria-expanded="false" aria-controls="fightersCollapseSix">
                Runemarks
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseSix">
        <div class="card-body">

            <div id="tagRunemarkSelect" class="d-flex flex-wrap">
                {% include fighters/fighterRunemarkSelect.html %}
            </div>

        </div>
    </div>

</div>
