<div class="card">

    <div class="card-header" id="fightersHeadingTwo">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseTwo" aria-expanded="false" aria-controls="fightersCollapseTwo">
                Fighter image
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseTwo">
        <div class="card-body">

            <div class="form-group">
                <label for="imageSelect">Load image</label>
                <input class="form-control-file" id="imageSelect" oninput="onAnyChange()" type="file">
            </div>

            <div class="form-group">
                <label for="imageOffsetX">X offset (&#8596;)</label>
                <input class="form-control" id="imageOffsetX" oninput="onAnyChange()" type="number" value="0" />
            </div>

            <div class="form-group">
                <label for="imageOffsetY">Y offset (&#8597;)</label>
                <input class="form-control" id="imageOffsetY" oninput="onAnyChange()" type="number" value="0" />
            </div>

            <div class="form-group">
                <label for="imageScalePercent">Scale (%)</label>
                <input class="form-control" id="imageScalePercent" min="0" max="300" oninput="onAnyChange()" type="number" value="100" />
            </div>

        </div>
    </div>

</div>
