<div class="card">

    <div class="card-header" id="fightersHeadingFive">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseFive" aria-expanded="false" aria-controls="fightersCollapseFive">
                Runemarks
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseFive">
        <div class="card-body">

            <div id="tagRunemarkSelect" class="d-flex flex-wrap">
                {% include fighters/fighterRunemarkSelect.html %}
                <br>
                <br>
                {% include fighters/factionRunemarkSelectBladeborn.html %}
            </div>

        </div>
    </div>

</div>
