<div class="card">

    <div class="card-header" id="fightersHeadingFour">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseFour" aria-expanded="false" aria-controls="fightersCollapseFour">
                Characteristics
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseFour">
        <div class="card-body">

            <div class="form-group">
                <label for="movement">Movement</label>
                <input class="form-control" id="movement" min="0" max="100" name="movement" oninput="onAnyChange()" type="number" value="4">
            </div>

            <div class="form-group">
                <label for="toughness">Toughness</label>
                <input class="form-control" id="toughness" min="0" max="100" name="toughness" oninput="onAnyChange()" type="number" value="3">
            </div>

            <div class="form-group">
                <label for="numWounds">Wounds</label>
                <input class="form-control" id="numWounds" min="1" max="1000" name="numWounds" oninput="onAnyChange()" type="number" value="10">
            </div>

            <div class="form-group">
                <label for="pointCost">Points value</label>
                <input class="form-control" id="pointCost" min="0" max="9999" name="pointCost" oninput="onAnyChange()" type="number" value="100">
            </div>

        </div>
    </div>

</div>
