<button type="submit" class="btn btn-secondary mt-4" id="clearCacheButton" onclick="onClearCache()">
    Clear all saves
</button>

<div class="form-group mt-4">
    <label for="slotNameInput">Name</label>
    <input class="form-control" id="saveNameInput" type="text">
    <button type="button" class="btn btn-secondary" id="saveButton" onclick="onSaveClicked()" value="Save">Save</button>
</div>

<div class="form-group mt-4">
    <label for="saveSlotsSelect">Local file</label>
    <select class="form-control" id="saveSlotsSelect"></select>
    <button type="button" class="btn btn-secondary" id="" onclick="onLoadClicked()" value="Load">Load</button>
    <button type="button" class="btn btn-secondary" id="" onclick="onLoadClicked()" value="Delete">Delete</button>
</div>
